@charset "utf-8";
/* CSS Document */
@import url("reset.css");
img{border:0px;	}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}

@media screen and (min-width: 1200px) {
html, body 
{ 
	margin: 0; 
	padding: 0; 
	height: 100%; 
	border:none;
	margin:0px;
	-moz-background-size:contain;
	-webkit-background-size:contain;
	-o-background-size:contain;
	background-size:contain;
	overflow:hidden;
	
}

@media (orientation: portrait) {
	body {
		-webkit-transform: rotate(-90deg);
		-moz-transform: rotate(-90deg);
		-o-transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
		transform: rotate(-90deg);
	}
}

}
	@media screen and (max-width: 1200px) {
		body{
			
			overflow-x:scroll;

		}
	}

a{text-decoration: none !important;}

#header
{
	position:absolute;
	top:0px;
	width:100%;
	min-height:92px;
	background-image:url(../images/index/header_bg.jpg);
	background-repeat:repeat-x;
	z-index:50;
	min-width:1200px;
}

	.logo
	{
		position:absolute;
		top:25%;
		left:8%;
		background-image:url(../images/index/logo.png);
		background-repeat:no-repeat;
		width:217px;
		height:52px;	
	}
	
	.choose
	{
		position:absolute;
		height:52px;
		left:30%;
		top:0;	
	}
	
		.ch1
		{
			position:absolute;
			overflow:hidden;
			width:129px;
			height:87px;
			background-image:url(../images/index/choose_bg.png);
			background-repeat:no-repeat;
			cursor:pointer;
		}
		.ch1_h
		{
			display:none;
			position:relative;
			top:279px;
			width:129px;
			height:87px;
			z-index:66;
			background-image:url(../images/index/choose_bg_h.png);
			background-repeat:no-repeat;	
		}
		
			.ch1_title
			{
				position:relative; 
				z-index:99;
				top:28px; 
				left:25px;				
				font-family:"新細明體"; 
				font-size:16px; 
				margin-top:15px; 
				font-weight:bold; 
				letter-spacing:4px; 
				color:#111111;
			}
			
			.ch1_english
			{
				position:relative; 
				z-index:99;
				left:-40px; 
				top:48px;	
				font-family:'微軟正黑體', '新細明體'; 
				font-size:12px; 
				margin-top:15px; 
				font-weight:bold; 
				color:#111111;
			}

		.ch2
		{
			width:129px;
			height:87px;
			overflow:hidden;
			position:absolute;
			left:129px;
			top:0px;
			background-image:url(../images/index/choose_bg.png);
			background-repeat:no-repeat;
			cursor:pointer;
		}	
		
		.ch2_h
		{
			display:none;
			position:relative;
			top:100px;
			width:129px;
			height:87px;
			z-index:66;
			background-image:url(../images/index/choose_bg_h.png);
			background-repeat:no-repeat;	
		}
		
			.ch2_title
			{
				position:relative; 
				top:30px; 
				z-index:99;
				left:25px;				
				font-family:"新細明體"; 
				font-size:16px; 
				margin-top:15px; 
				font-weight:bold; 
				letter-spacing:4px; 
				color:#111111;
			}
			
			.ch2_english
			{
				position:relative; 
				left:-38px; 
				z-index:99;
				top:50px;	
				font-family:'微軟正黑體', '新細明體'; 
				font-size:12px; 
				margin-top:15px; 
				font-weight:bold; 
				color:#111111;
			}	

		.ch3
		{
			width:129px;
			height:87px;
			overflow:hidden;
			position:absolute;	
			left:258px;
			top:0px;	
			cursor:pointer;
			background-image:url(../images/index/choose_bg.png);
			background-repeat:no-repeat;
		}
		
		.ch3_h
		{
			display:none;
			position:absolute;
			top:279px;
			width:129px;
			height:87px;
			z-index:66;
			background-image:url(../images/index/choose_bg_h.png);
			background-repeat:no-repeat;	
		}
		
			.ch3_title
			{
				position:relative; 
				top:28px; 
				z-index:99;
				left:25px;				
				font-family:"新細明體"; 
				font-size:16px; 
				margin-top:15px; 
				font-weight:bold; 
				letter-spacing:4px; 
				color:#111111;
			}
			
			.ch3_english
			{
				position:absolute; 
				left:42px; 
				z-index:99;
				top:35px;	
				font-family:'微軟正黑體', '新細明體'; 
				font-size:12px; 
				margin-top:15px; 
				font-weight:bold; 
				color:#111111;
			}
		
		.ch4
		{
			width:129px;
			height:87px;
			position:absolute;
			left:387px;
			overflow:hidden;
			top:0px;
			cursor:pointer;
			background-image:url(../images/index/choose_bg.png);
			background-repeat:no-repeat;
		}
		
		.ch4_h
		{
			display:none;
			position:relative;
			top:279px;
			width:129px;
			height:87px;
			z-index:66;
			background-image:url(../images/index/choose_bg_h.png);
			background-repeat:no-repeat;	
		}
		
			.ch4_title
			{
				position:relative; 
				top:29px; 
				z-index:99;
				left:25px;				
				font-family:"新細明體"; 
				font-size:16px; 
				margin-top:15px; 
				font-weight:bold; 
				letter-spacing:4px; 
				color:#111111;
			}
			
			.ch4_english
			{
				position:relative; 
				left:25px; 
				z-index:99;
				top:28px;	
				font-family:'微軟正黑體', '新細明體'; 
				font-size:12px; 
				margin-top:15px; 
				font-weight:bold; 
				color:#111111;
			}

		.ch5
		{
			width:129px;
			height:87px;
			overflow:hidden;
			position:absolute;	
			left:516px;
			top:0px;
			cursor:pointer;
			background-image:url(../images/index/choose_bg.png);
			background-repeat:no-repeat;
		}
		
		.ch5_h
		{
			display:none;
			position:absolute;
			top:279px;
			width:129px;
			height:87px;
			z-index:66;
			background-image:url(../images/index/choose_bg_h.png);
			background-repeat:no-repeat;	
		}
		
			.ch5_title
			{
				position:relative; 
				top:28px; 
				z-index:99;
				left:25px;				
				font-family:"新細明體"; 
				font-size:16px; 
				margin-top:15px; 
				font-weight:bold; 
				letter-spacing:4px; 
				color:#111111;
			}
			
			.ch5_english
			{
				position:absolute; 
				left:40px; 
				z-index:99;
				top:35px;	
				font-family:'微軟正黑體', '新細明體'; 
				font-size:12px; 
				margin-top:15px; 
				font-weight:bold; 
				color:#111111;
			}
			
		.loginarea
		{
			
			position:relative;
			left:90%;
			top:2px;	
			font-size:12px;
			font-family:"微軟正黑體", "新細明體";
			font-weight:bold;
			max-width:90px;
			height:10px;
		}
		
		.loginareaOK
		{
			position:relative;
			left:90%;
			top:2px;	
			font-size:12px;
			font-family:"微軟正黑體", "新細明體";
			font-weight:bold;
			max-width:90px;
			height:10px;
		}
		
			.login_in
			{
				position:relative;
				left:0px;
				top:40px;
				color:black;
			}
			
			.login_mem
			{
				position:relative;
				left:2px;
				top:40px;
				color:black;	
			}
			
			.icon_area
			{
				position:absolute;
				left:90%;
				top:5%;	
				min-width:100px;
				height:19px;

			}
			
				.icon
				{
					float:left;
					width:20px;
					height:19px;
					margin-left:5px;
					cursor:pointer;	
				}


#main
{
	top:92px;
	width:100%;
	min-width:1024px;
	min-height:390px;
}

.main_img 
{
	position:absolute;
	width:100%;
	height:100%;
	left:0px;
	top:92px;
}

	.main_img div
	{
		position:fixed;
		width:100%;
		height:100%;
		background-position: 50% 0%;
		background-position: 50% 0%;
		background-size: cover;  
		-webkit-background-size: cover; 
		-moz-background-size: cover; 
		-o-background-size: cover; 
	}


.main_level
{
	z-index:1500;	
}

.main_main
{
	position:absolute;
	top:20%;
	left:0px;	
	width:300px;
}

	.main_house
	{
		position:absolute;
		top:160px;
		left:140px;
		max-width:100px;
		height:127px;
		background-image:url(../images/index/white.png);
		background-repeat:no-repeat
	}
		

	
	.main_line
	{
		position:absolute;
		top:50px;
		left:0px;
		width:240px;
		height:240px;
		background-image:url(../images/index/index_line.png);
		background-repeat:no-repeat;		
	}

	.main_txt1
	{
		position:absolute;
		top:10px;
		left:150px;
		width:162px;
		height:25px;
		background-image:url(../images/index/index_txt1.png);
		background-repeat:no-repeat;	
	}
	
	.main_txt2
	{
		position:absolute;
		top:55px;
		left:150px;
		width:162px;
		height:25px;
		background-image:url(../images/index/index_txt2.png);
		background-repeat:no-repeat;	
	}
	
	.main_txt3
	{
		position:absolute;
		top:100px;
		left:150px;
		width:162px;
		height:25px;
		background-image:url(../images/index/index_txt3.png);
		background-repeat:no-repeat;	
	}
	
	.main_news
	{
		position:absolute;
		max-width:140px;
		min-width:140px;
		top:290px;
		left:146px;
		font-size:12px;
		font-family:"微軟正黑體", "新細明體";
	}
	
	.main_adot
	{
		position:absolute;
		top:270px;
		left:60px;
		height:9px;
		width:59px;
		background-image:url(../images/index/adot.png);
		background-repeat:no-repeat;		
	}

/*counter*/
#counter
{
	position:absolute;
	min-width:90px;
	min-height:8px;
	left:60px;
	top:280px; 
}

	#counter li
	{
		float:left;
		list-style:none;
		margin-right:5px;
		width:8px;
		height:8px;
		background:url(../images/index/counter.png) no-repeat; 
		cursor:pointer;
	}
	
		#counter li img
		{
			float:left
		}
		
		#counter .select
		{
			
			margin-left:3px;
			background:url(../images/index/counter_select.png) no-repeat; 
			cursor:pointer;
		}

#footer
{
	position:fixed;
	bottom:0px;
	background-color:#000;	
	min-height:25px;
	width:100%;
	z-index:1010;
	min-width:1024px;
}

	.footer_txt
	{
		color:#FFF; 
		font-family:'微軟正黑體', '新細明體'; 
		margin-top:6px;
		font-size:12px;	
	}
	
/*----------------about------------------*/
.about_main
{
	position:absolute;
	top:120px;
	left:0px;
	width:1000px;
}

.about_img
{
	position:fixed;
	width:100%;
	height:100%;
	background:URL(../images/about/about_bg.jpg) no-repeat;
	background-position: 50% 0%;
	background-size: cover;
	-webkit-background-size: cover; 
	-moz-background-size: cover; 
	-o-background-size: cover; 
}

	.about_txt1
	{
			position:absolute;
			top:87px;
			left:120px;
			width:97px;
			height:12px;
			background-image:url(../images/about/about_txt.png);
			background-repeat:no-repeat;	
	}
	
	.about_txt2
	{
			position:absolute;
			top:110px;
			left:120px;
			width:140px;
			height:36px;
			background-image:url(../images/about/about_txt1.png);
			background-repeat:no-repeat;
	}
	
	.about_txt3
	{
			position:absolute;
			top:155px;
			left:180px;
			width:152px;
			height:45px;
			background-image:url(../images/about/about_txt2.png);
			background-repeat:no-repeat;	
	}

	.about_line
	{
		position:absolute;
		top:120px;
		left:0px;
		width:240px;
		height:240px;
		background-image:url(../images/index/index_line.png);
		background-repeat:no-repeat;		
	}
	
	.about_intro
	{
		position:absolute;
		top:220px;
		left:120px;
		max-width:400px;
		color:#000; 
		font-family:'微軟正黑體', '新細明體'; 
		margin-top:6px;
		font-size:12px;		
	}
	
/*Lightbox部分*/
		.lig_backdrop
		{
			position:fixed;
			top:0px;
			left:0px;
			width:100%;
			height:100%;
			background:#000;
			opacity: .0;
			filter:alpha(opacity=0);
			z-index:10000;
			display:none;
		}
 
 
		.box
		{
			position:fixed;
			top:2%;
			left:16%;
			width:757px;
			height:600px;
			background:#ffffff;
			z-index:10000;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			-moz-box-shadow:0px 0px 5px #444444;
			-webkit-box-shadow:0px 0px 5px #444444;
			box-shadow:0px 0px 5px #444444;
			display:none;
			overflow:auto;
			overflow-x:auto;
			border-radius: 20px;
			background-color:transparent; 
			
		}
		.close
		{
			float:right;
			margin-right:6px;
			cursor:pointer;
		}
		
/*------------------Login-------------------*/

#login_bg
{
	width:600px;
	height:280px;
	background-image:url(../images/member/login_bg.png);
	background-repeat:no-repeat;	
}

	.login_left
	{
		position:relative;
		top:0px;
		left:0px;
	}
	
		.login_txt1
		{
			position:relative;
			top:40px;
			left:40px;
			width:240px;
			height:46px;
			background-image:url(../images/member/login_txt1.png);
			background-repeat:no-repeat;		
		}
		
		.login_text
		{
			position:relative;
			top:50px;
			left:40px;
			width:240px;
			height:46px;
		}
		
		.input_num1
		{
			position:relative;
			top:75px;
			left:40px;
			width:85px;
			height:31px;
			background-image:url(../images/member/login_num.png);
			background-repeat:no-repeat;	
		}
		
			.input_num1_A
			{
				position:relative;
				top:6px;
				left:18px;
			}
		
		.input_num2
		{
			position:relative;
			top:48px;
			left:130px;
			width:85px;
			height:31px;

		}
		
		.login_font1
		{
			position:relative;
			top:20px;
			left:220px;
			width:85px;
			height:31px;
			font-family:"微軟正黑體", "新細明體";
			font-size:12px;	
		}
		
		.login_font2
		{
			position:relative;
			top:50px;
			left:-20px;
			width:85px;
			height:31px;
			font-family:"微軟正黑體", "新細明體";
			font-size:12px;	
		}
		
		.login_btn
		{
			position:relative;
			top:50px;
			left:200px;
			width:68px;
			height:25px;
			background-image:url(../images/member/login_btn.png);
			background-repeat:no-repeat;	
		}
		
		.login_line
		{
			position:relative;
			top:-170px;
			left:300px;
			width:1px;
			height:220px;
			background-image:url(../images/member/login_line.png);
		}
		
	.login_right
	{
		position:relative;
		top:-420px;
		left:290px;
	}
		
		.login_txt2
		{
			position:relative;
			top:40px;
			left:40px;
			width:240px;
			height:46px;
			background-image:url(../images/member/login_txt2.png);
			background-repeat:no-repeat;	
		}
		
		.register_btn
		{
			position:relative;
			top:60px;
			left:55px;
			width:199px;
			height:66px;
			background-image:url(../images/member/login_new.png);
			background-repeat:no-repeat;
		}
		
		.login_font3
		{
			position:relative;
			top:70px;
			left:85px;
			width:85px;
			height:31px;
			font-family:"微軟正黑體", "新細明體";
			font-size:14px;	
		}
		
		.login_cancel
		{
			position:relative;
			cursor:pointer;
			top:-565px;
			left:565px;
			width:26px;
			height:27px;
			background-image:url(../images/member/news_close.png);
			background-repeat:no-repeat;
		}
		
		#errormsg
		{
			display:none;
			position:relative;
			top:45px;
			left:8px;	
			color:red;
			font-size:12px;
			font-family:"微軟正黑體", "新細明體";
		}
		
/*---------------------Apply---------------------------*/

#register_bg
{
	width:692px;
	height:420px;
	background-image:url(../images/member/register_bg.png);
	background-repeat:no-repeat;	
}

	.left_register
	{
		position:absolute;
		top:122px;
		left:52px;	
		max-width:280px;
	}
	
		.input1
		{
			float:left; 
			width:100%;	
		}
		
		.inputX
		{
			float:left; 
			width:100%; 
			margin-top:40px; 	
		}
	
	.right_register
	{
		position:absolute;
		top:120px;
		left:383px;
		max-width:280px;
	}
	
	.apply_btn
	{
		position:relative;
		top:360px;
		left:550px;
		width:199px;
		height:66px;
		background-image:url(../images/member/register_btn.png);
		background-repeat:no-repeat;	
	}
	
	.register_cancel
	{
		position:relative;
		cursor:pointer;
		top:-57px;
		left:658px;
		width:26px;
		height:27px;
		background-image:url(../images/member/news_close.png);
		background-repeat:no-repeat;	
	}
	
#mem_enjoy
{
	width:692px;
	height:420px;
	background-image:url(../images/member/register_fin_bg.png);
	background-repeat:no-repeat;		
}

	.enjoy_cancel
	{
		position:relative;
		cursor:pointer;
		top:9px;
		left:655px;
		width:26px;
		height:27px;
		background-image:url(../images/member/news_close.png);
		background-repeat:no-repeat;	
	}
	
.sevicelist
{
	position:absolute;
	left:479px;
	top:233px;
	font-family:"微軟正黑體", "新細明體";
	font-size:12px;
	font-weight:bold;
	color:red;	
}

	
/*------------------------forget_password---------------------------------*/

#forget_bg
{
	width:452px;
	height:280px;
	background-image:url(../images/member/forget_bg.png);
	background-repeat:no-repeat;
}

	.forget_text
	{
		position:absolute;
		top:122px;
		left:52px;	
		max-width:280px;
	}
	
	.forget_cancel
	{
		position:relative;
		cursor:pointer;
		top:9px;
		left:420px;
		width:26px;
		height:27px;
		background-image:url(../images/member/news_close.png);
		background-repeat:no-repeat;	
	}
		
		.forget_tex_A
		{
			color:#FFF;
			position:relative;
			top:135px;
			left:170px;	
		}
		
		.forget_btn
		{
			position:relative;
			top:180px;
			left:300px;
			width:72px;
			height:30px;
			background-image:url(../images/member/forget_btn.png);
			background-repeat:no-repeat;		
		}
/*--------------------------News------------------------------------*/

.top_fixed
{
	position:fixed;
	background-size: cover;
	background-position: 50% 0%;
	width:100%;
	z-index:1000;
}

#main_news
{
	position:fixed;
	top:92px;
	width:100%;
	min-width:1024px;
    min-height:600px;
	overflow-y:auto;
	z-index:1001;
	
}

#main_news1
{
	position:relative;
	top:68px;
	width:100%;
	height:auto;
	z-index:500;
}

#main_contentnews
{
	position:relative;
	width:100%;
	height:auto;
	z-index:500;
}

	.main_news_img
	{
		position:fixed;
		top:92px;
		right:0px;
		width:100%;
		z-index:1;
		background:URL(../images/about/about_bg.jpg) no-repeat;
		background-size: cover;
		height:88%;
		background-color:#FFF;
		min-width:1024px;
		min-height:390px;	
	}



.news_line
{
	position:absolute;
	top:25px;
	left:0px;
	width:240px;
	height:240px;
	background-image:url(../images/index/index_line.png);
	background-repeat:no-repeat;		
}

#news_main
{
	position:absolute;
	top:20px;
	left:0px;
	width:1000px;
}

	.news_txt1
	{
		position:absolute;
		top:90px;
		left:110px;
		width:105px;
		height:13px;
		background-image:url(../images/news/news_txt1.png);
		background-repeat:no-repeat;	
	}
	
	.news_txt2
	{
		position:absolute;
		top:30px;
		left:240px;
		width:185px;
		height:72px;
		background-image:url(../images/news/news_txt2.png);
		background-repeat:no-repeat;	
	}
	
#news_area
{
	float:left;
	/*top:130px;
	left:100px;*/
	width:100%;
	margin:150px 0 50px 100px;
	min-width:600px;
	max-width:600px;
	z-index:100;
}

	.news_part
	{
		float:left;
		max-height:210px;
		width:100%;
	}

		.news_img
		{
			position:relative;
			top:10px;
			left:0px;
			width:160px;
			height:176px;
			padding-left:8px;
			background-image:url(../images/news/news_img.png);
			background-repeat:no-repeat;
		}
		
		.news_img img
		{
			position:relative;
			left:10px;
			top:5px;	
		}
		
		.news_right
		{
			position:relative;
			left:200px;
			top:-160px;
			max-width:400px;
			font-size:14px;
			font-family:"微軟正黑體", "新細明體";
		}
		
			.news_title
			{
				position:relative;
				top:0px;
				font-weight:bold;	
			}
			
			.news_content
			{
				position:relative;
				top:20px;	
			}
			
			.news_more
			{
				position:absolute;
				top:150px;
				left:340px;		
				color:black;
			}
			
			.news_part_line
			{
				position:absolute;
				height:1px;
				width:600px;
				top:180px;
				left:-190px;
				background-image:url(../images/news/line.jpg);

			}



/*news_content*/

.news_content_txt
{
	position:relative;
	border:2px solid #C1C1C1; 
	background-color:#BEBEBE; 
	top:150px;
	left:100px;
	max-width:680px;
	min-width:680px;
	padding:20px; 
	/*height:auto;*/
	font-size:13px;
	font-family:"微軟正黑體", "新細明體";
}

.news_content_txt1
{
	float:left;
	margin:150px 0 50px 100px;
	width:100%;
	border:1px solid #C1C1C1; 
	background-color:#F2F2F2; 
	max-width:680px;
	min-width:680px;
	padding:20px; 
	/*height:auto;*/
	font-size:13px;
	font-family:"微軟正黑體", "新細明體";
}

/*-------------contact---------------------*/

#mymap
{
	position:fixed;
	background-size: cover;
	background-position: 50% 0%;
	min-width:1200px;
	min-height:600px;
	top:92px;
	left:0px;
	width:100%;
	height:90%;	
	z-index:99;
}

#contact_inter
{
	position:fixed;
	top:16%;
	left:53%;
	width:460px;
	height:500px;
	z-index:100;
	background-image:url(../images/contact/contact_bg.png);
	background-repeat:no-repeat;
		
}

	.contact_line
	{
		position:relative;
		top:25px;
		left:29px;
		width:125px;
		height:65px;
		background-image:url(../images/contact/contact_line.png);
		background-repeat:no-repeat;		
	}
	
	.contact_txt
	{
		position:relative;
		top:20px;
		left:100px;
		width:229px;
		height:81px;
		background-image:url(../images/contact/contact_txt1.png);
		background-repeat:no-repeat;		
	}

	.contact_textarea
	{
		position:relative;
		top:30px;
		left:90px;	
	}
	
		.contact_text1
		{
			position:relative;
			top:15px;
			left:0px;	
		}
		
		.contact_text2
		{
			position:relative;
			top:20px;
			left:0px;	
		}
		
		.contact_text3
		{
			position:relative;
			top:25px;
			left:0px;	
		}
		
		.contact_text4
		{
			position:relative;
			top:30px;
			left:0px;	
		}
		
		.contact_btn1
		{
			position:relative;
			top:33px;
			left:100px;	
			width:83px;
			height:25px;
			cursor:pointer;
			background-image:url(../images/contact/contact_rebtn.png);
			background-repeat:no-repeat;
		}
			
			.contact_btn1:hover
			{
				opacity:0.8;	
			}
		
		.contact_btn2
		{
			position:relative;
			top:8px;
			left:185px;	
			width:83px;
			height:25px;
			cursor:pointer;
			background-image:url(../images/contact/contact_sendbtn.png);
			background-repeat:no-repeat;
		}
		
			.contact_btn2:hover
			{
				opacity:0.8;	
			}
		
/*----------------------------product----------------------------------*/

#product_top
{
	position:relative;
	width:100%;
	height:100px;	
	min-width:1200px;
}


.product_showmain
{
	margin:0 auto;
	width:1200px;
	height:auto;	

}

	.product_left
	{
		float:left;
		width:280px;
		min-height:100%;	
	}
		
		.product_choose_area
		{
			margin-left:30px;
		}
	
	.product_main
	{
		float:left;
		width:900px;
		height:auto;	
		left:3%;

	}
	
		.product_main_img
		{
			float:left;
			width:100%;
			height:127px;
			background-image:url(../images/product/jenyou_p2_title.jpg);
			background-repeat:no-repeat;
		}
		
		.product_main_main
		{
			float:left;
			width:100%;
			margin-top:20px;
			height:auto;	
		}

			.product_main_list
			{
				float:left;
				width:208px;
				height:255px;	
				padding:0 0 40px 10px;
			}
			
				.product_main_list_img
				{
					float:left;
					width:208px;
					height:208px;	
					border:1px #F2F2F2 solid;
				}
				
				.product_main_list_txt
				{
					float:left;
					width:100%;
					font-size:12px;
					font-family:"微軟正黑體", "新細明體";	
				}
				
				.product_main_list_price
				{
					float:left;
					width:100%;
					font-size:12px;
					font-family:"微軟正黑體", "新細明體";			
				}
	
#product_footer
{
	float:left;
	width:100%;
	height:112px;	
	min-width:1200px;
	background-image:url(../images/product/jenyoulink_bottom.jpg);
}


/*product_detail*/

.detail_top
{
	position:relative;
	width:100%;
	height:100px;	
	min-width:1200px;
}

.detail_main
{
	margin:0 auto;
	width:1200px;
	height:auto;	
}

	.detail_left
	{
		float:left;
		width:250px;
		padding-left:10px;
		min-height:100%;	
		border:dotted #000;
		
	}
	
	.detail_right
	{
		float:left;
		width:900px;
		height:auto;	
		left:3%;
		
	}
	
		.detail_img
		{
			float:left;
			width:450px;
			height:450px;
			border:1px #F2F2F2 solid;
		}
		
		
		.detail_txt
		{
			margin-top:18.5px;
			float:left;
			margin-left:10px;
			width:430px;
			height:445px;
			font-family:"微軟正黑體", "新細明體";

		}
		
			.D_txt1
			{
				position:relative;
				left:0px;
				top:0px;
				font-size:14px;
				font-weight:bold;
				letter-spacing:2px;
				line-height:20px;
				padding-bottom:10px;
				border-bottom:double 1px #000;	
			}
			
			.D_txt2
			{
				position:relative;
				left:0px;
				top:0px;
				font-size:14px;
				letter-spacing:2px;
				line-height:20px;
				padding:5px 0 10px 0;
				border-bottom:double 1px #000;	
			}
			
			.special_price
			{
				position:absolute;
				right:0px;
				top:0px;
				color:red;	
			}
			
			.D_img
			{
				position:relative;
				left:0px;
				top:0px;
				font-size:14px;
				letter-spacing:2px;
				line-height:20px;
				padding:10px 0 10px 0;
				border-bottom:double 1px #000;		
			}
			
				.D_img img
				{
					border:1px solid #F2F2F2;
				}
			
			#itemcon5
			{
				position:relative;
				width:420px;
				padding-top:20px;
				height:75px;
			}
			#iteminfobtncon
			{ 
				z-index:2;
			}
			.iteminfobtn
			{ 
				display:block; 
				float:left;
				border:#999 1px solid; 
				background:#999; 
				color:#FFF; 
				margin-right:3px;
				padding-left:10px;
				padding-right:10px; 
				cursor:pointer;
			}
			#itemcon5 .select
			{
				background:#FFF !important; 
				color:#000 !important; 
				border:#999 1px solid !important; 
				border-bottom-color:#FFF !important; 
				cursor:default !important;
			}
			#iteminfo
			{
				position:relative;
				top:-1px; 
				height:140px; 
				width:410px; 
				border:#999 1px solid; 
				z-index:1; 
				padding:5px 10px 5px 10px ;
			}
			
/*maintenance*/

.maintenance_img
{
	background:URL(../images/maintenance/maintenance_bg.jpg) no-repeat;
	position:fixed;
	width:100%;
	height:100%;
	background-position: 50% 0%;
	background-size: cover;  
	-webkit-background-size: cover; 
	-moz-background-size: cover; 
	-o-background-size: cover; 
}

.maintenance_txt1
{
	position:absolute;
	top:87px;
	left:120px;
	width:81px;
	height:10px;
	background-image:url(../images/maintenance/jenyou_maintenance_txt1.png);
	background-repeat:no-repeat;	
}

.maintenance_txt2
{
	position:absolute;
	top:110px;
	left:120px;
	width:261px;
	height:31px;
	background-image:url(../images/maintenance/jenyou_maintenance_txt2.png);
	background-repeat:no-repeat;	
}

.maintenance_txt3
{
	position:absolute;
	top:156px;
	left:185px;
	width:158px;
	height:32px;
	background-image:url(../images/maintenance/jenyou_maintenance_txt3.png);
	background-repeat:no-repeat;	
}

