body
{
	margin: 0;
	padding: 0;
	background: #eee;
}

.jcropper-holder { border: 1px black solid; }

#outer {
	text-align: center;
}

.jcExample
{
	text-align: left;
	background: white;
	width: 700px;
	font-size: 80%;
	margin: 3.5em auto 2em auto;
	*margin: 3.5em 10% 2em 10%;
	border: 1px black solid;
	padding: 1em 2em 2em;
}

.jcExample .article
{
	width: 565px;
}

form
{
	margin: 1.5em 0;
}

form label
{
	margin-right: 1em;
	font-weight: bold;
	color: #990000;
}

.jcExample p
{ 
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 90%;
}
body
{
	margin: 0;
	padding: 0;
	background: #eee;
}

.jcropper-holder { border: 1px black solid; }

#outer {
	text-align: center;
}

.jcExample
{
	text-align: left;
	background: white;
	width: 700px;
	font-size: 80%;
	margin: 3.5em auto 2em auto;
	*margin: 3.5em 10% 2em 10%;
	border: 1px black solid;
	padding: 1em 2em 2em;
}

.jcExample .article
{
	width: 565px;
}

form
{
	margin: 1.5em 0;
}

form label
{
	margin-right: 1em;
	font-weight: bold;
	color: #990000;
}

.jcExample p
{ 
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 90%;
}
body
{
	margin: 0;
	padding: 0;
	background: #eee;
}

.jcropper-holder { border: 1px black solid; }

#outer {
	text-align: center;
}

.jcExample
{
	text-align: left;
	background: white;
	width: 700px;
	font-size: 80%;
	margin: 3.5em auto 2em auto;
	*margin: 3.5em 10% 2em 10%;
	border: 1px black solid;
	padding: 1em 2em 2em;
}

.jcExample .article
{
	width: 565px;
}

form
{
	margin: 1.5em 0;
}

form label
{
	margin-right: 1em;
	font-weight: bold;
	color: #990000;
}

.jcExample p
{ 
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 90%;
}
body
{
	margin: 0;
	padding: 0;
	background: #eee;
}

.jcropper-holder { border: 1px black solid; }

#outer {
	text-align: center;
}

.jcExample
{
	text-align: left;
	background: white;
	width: 700px;
	font-size: 80%;
	margin: 3.5em auto 2em auto;
	*margin: 3.5em 10% 2em 10%;
	border: 1px black solid;
	padding: 1em 2em 2em;
}

.jcExample .article
{
	width: 565px;
}

form
{
	margin: 1.5em 0;
}

form label
{
	margin-right: 1em;
	font-weight: bold;
	color: #990000;
}

.jcExample p
{ 
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 90%;
}
body
{
	margin: 0;
	padding: 0;
	background: #eee;
}

.jcropper-holder { border: 1px black solid; }

#outer {
	text-align: center;
}

.jcExample
{
	text-align: left;
	background: white;
	width: 700px;
	font-size: 80%;
	margin: 3.5em auto 2em auto;
	*margin: 3.5em 10% 2em 10%;
	border: 1px black solid;
	padding: 1em 2em 2em;
}

.jcExample .article
{
	width: 565px;
}

form
{
	margin: 1.5em 0;
}

form label
{
	margin-right: 1em;
	font-weight: bold;
	color: #990000;
}

.jcExample p
{ 
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 90%;
}
body
{
	margin: 0;
	padding: 0;
	background: #eee;
}

.jcropper-holder { border: 1px black solid; }

#outer {
	text-align: center;
}

.jcExample
{
	text-align: left;
	background: white;
	width: 700px;
	font-size: 80%;
	margin: 3.5em auto 2em auto;
	*margin: 3.5em 10% 2em 10%;
	border: 1px black solid;
	padding: 1em 2em 2em;
}

.jcExample .article
{
	width: 565px;
}

form
{
	margin: 1.5em 0;
}

form label
{
	margin-right: 1em;
	font-weight: bold;
	color: #990000;
}

.jcExample p
{ 
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 90%;
}
body
{
	margin: 0;
	padding: 0;
	background: #eee;
}

.jcropper-holder { border: 1px black solid; }

#outer {
	text-align: center;
}

.jcExample
{
	text-align: left;
	background: white;
	width: 700px;
	font-size: 80%;
	margin: 3.5em auto 2em auto;
	*margin: 3.5em 10% 2em 10%;
	border: 1px black solid;
	padding: 1em 2em 2em;
}

.jcExample .article
{
	width: 565px;
}

form
{
	margin: 1.5em 0;
}

form label
{
	margin-right: 1em;
	font-weight: bold;
	color: #990000;
}

.jcExample p
{ 
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 90%;
}
