body{
	padding				:0px;
	margin				:0px;
	font-family			:"新細明體";
	font-size			:13px;
	color				:#CCCCCC;
	background-image	:url(../images/body_bg.gif);
	background-repeat	:repeat;	
	behavior			:url(css/csshover.htc);
}
.inside{
	position			:relative;
	width				:100%;
}
a,
a:hover{
	text-decoration		:none;	
	cursor 				:pointer;	
}
/*-------------------------
	登入頁面的區塊與背景
-------------------------*/
.login_wrapperBg{
	position			:absolute;
	left				:50%;
	top					:50%;
	margin				:-250px 0px 0px -500px;
	background-image	:url(../images/login_bg.png);
	background-repeat	:no-repeat;
	background-position	:center center;
	height				:500px;
	width				:1000px;
	z-index				:0;
}
.login_wrapper{
	position			:absolute;
	top					:50%;
	left				:50%;
	margin				:-121px 0px 0px -168px;
	width				:336px;
	height				:242px;
}
/*--------------------------------------------------
					登入頁面
--------------------------------------------------*/
/*無任何訊息*/
.login_wrapper .errorMsg.none{
	height				:26px;
	visibility			:hidden;
}
/*顯示警告訊息*/
.login_wrapper .errorMsg.warning{
	width				:326px;
	height				:26px;
	margin				:auto;
	padding				:0px 4px;
	background-image	:url(../images/error_bg.png);
	background-repeat	:no-repeat;
	line-height			:26px;
}
.login_wrapper .errorMsg.warning li{
	float				:left;
	line-height			:26px;
	font-size			:13px;
}
/*顯示警告訊息圖示*/
.login_wrapper .errorMsg.warning li.icon{
	background-image	:url(../images/error_ico.png);
	background-repeat	:no-repeat;
	_background-position:0px 6px;
	width				:16px;
	height				:15px;
	visibility			:visible;
	display				:block;
	margin				:6px 3px 0px 0px;
	_margin				:4px 3px 0px 0px;
}
.login_wrapper .errorMsg.warning li.icon span{
	visibility			:hidden;
	display				:none;
}
.login_wrapper .errorMsg.warning li.title{
	color				:#F0B500;
	padding				:0px 2px 0px 0px;
}
.login_wrapper h1{
	width				:324px;
	margin				:3px auto 0px auto;
	padding				:0px;
	line-height			:44px;
	height				:44px;
	font-size			:28px;
	padding				:0px 5px;
	background-image	:url(../images/h1.png);
	font-weight			:bold;
}

.login_wrapper .lockImg{
	position			:absolute;
	left				:20px;
	top					:189px;
	width				:55px;
	height				:65px;
	background-image	:url(../images/lock.png);
	background-repeat	:no-repeat;
	background-position	:0px 0px;
	z-index				:60;
}
.login_wrapper .invertedImage{
	position			:absolute;
	left				:0px;
	top					:93px;
	width				:390px;
	height				:213px;
	margin				:0px 0px 0px -28px;
	background-image	:url(../images/reflect.png);
	background-repeat	:no-repeat;
	background-position	:50% 50%;
	z-index				:-5;
}

/*-------------------------
	登入頁面的表單項目	
-------------------------*/
.loginPlan{
	width				:334px;
	margin				:auto;
	z-index				:55;
}
.loginPlan a{
	color				:#E1F0FF;
	font-weight			:bold;
	text-decoration		:none;
}
.loginPlan a:hover{
	color				:#E1F0FF;
	font-weight			:bold;
	text-decoration		:none;
}
.loginPlan .platformTop{
	background-image	:url(../images/formular_top.png);
	background-repeat	:no-repeat;
	background-position	:center top;
	height				:17px;
	width				:100%;
	display				:block;
}
.loginPlan .platformBottom{
	background-image	:url(../images/formular_bottom.png);
	background-repeat	:no-repeat;
	background-position	:center bottom;
	height				:17px;
	width				:100%;
	display				:block;

}
.loginPlan ul.inster{
	width				:100%;
	background-color	:#fff;
	display				:block;
	padding				:5px 0px;
}
.loginPlan ul.inster li.title{
	width				:103px;
	text-align			:center;
}
.loginPlan ul li{
	float				:left;
	display				:block;
	line-height			:23px;
	color				:#232323;
}
.loginPlan ul li.bringIn{
	padding				:0px 0px;
	background-image	:url(../images/input.gif);
	background-repeat	:no-repeat;
	background-position	:0px 0px;
	width				:202px;
	height				:23px;
}

.loginPlan ul li.bringIn input{
	padding				:0px 2px;
	border				:0px;
	margin				:2px 0px;
	width				:198px;
	font-family			:"sans-serif";
	background			:transparent;
}
.loginPlan ul li.savePc{
	font-size			:12px;
	line-height			:20px;
	height				:20px;	
	width				:231px;
	text-align			:left;
	float				:right;
}
.loginPlan ul li.savePc input{
	padding				:0px;
	margin				:2px 3px 0px 0px;
	_margin				:0px 3px 0px 0px;
	#margin				:0px 3px 0px 0px;
	width				:13px;
	height				:13px;
	vertical-align		:middle;	
}
.loginPlan ul.checkBtn{
	background-color	:#FFF;
	font-size			:16px;
	padding				:0px 0px 0px 102px;
}
.loginPlan ul.checkBtn li{
	margin				:0px 6px 0px 0px;
	line-height			:24px;
	text-align			:center;
}
.loginPlan ul.checkBtn li.login a{
	background-image	:url(../images/loginSubmit.gif);
	background-repeat	:no-repeat;
	background-position	:center center;
	width				:62px;
	height				:24px;
	display				:block;
}
.loginPlan ul.checkBtn li.forget a{
	background-image	:url(../images/loginForget.gif);
	background-repeat	:no-repeat;
	background-position	:center center;
	width				:101px;
	height				:24px;
	display				:block;
}
/*--------------------------------------------------
					內容共用頁面
--------------------------------------------------*/
.wrapper{}
.header_Wapper .header{
	width				:952px;
	margin				:auto;
}
.header_Wapper{
	background			:#d4d3d3 url(../images/header_main_menu.gif) repeat-x;
	width				:100%;
}

/*
.systemLogo{
	padding				:12px 0px;
	float				:left;
	height				:83px;
}
*/
.systemLogo{
	background-image	:url(images/LOGO.gif) repeat-x;
	padding				:12px 0px;
	float				:left;
	height				:28px;
	width				:168px;
}	
.systemLogo a{
	width				:302px;
	height				:71px;
	line-height			:71px;
	border				:solid 1px red;
	text-align			:center;
	display				:block;
}
.userInfo{
	float				:right;
}
.userInfo ul{
	margin				:5px 0px 0px 0px;
	color				:#616161;
}
.userInfo ul li{
	text-align			:right;
	line-height			:22px;
}
.userInfo ul li a{
	color				:#1B6BF4;
	text-decoration		:none;

}
.userInfo ul li a:hover{
	color				:#FF7800;
	text-decoration		:underline;
}
.userInfo ul li span{
	color:#F00;
	font-family			:"Dotum";
	_font-family		:"Arial";

	
}
.mainMenuBG{
	height				:60px;
	width				:100%;
	background-image	:url(../images/submenu_bg.png);
	_background-image	:url(../images/submenu_bg.jpg);
	background-repeat	:repeat-x;
	background-position	:0px bottom;
	margin				:0px 0px 0px 0px;
}
.header_Wapper .mainMenu{
	width				:952px;
	margin				:auto;
}
.header_Wapper .mainMenu ul.menuTag{
	height				:33px;
	width				:100%;
}
.header_Wapper .mainMenu ul.menuTag li{	
	float				:left;
	display				:block;
}
.header_Wapper .mainMenu ul.menuTag li a{
	display				:block;
	overflow			:hidden;
}
.header_Wapper .mainMenu ul.menuTag li.keynavon a,
.header_Wapper .mainMenu ul.menuTag li.keynavon a:hover{
	color				:#646464;
	font-weight			:bold;
	font-size			:16px;
}
.header_Wapper .mainMenu ul.menuTag li.keynavoff a,
.header_Wapper .mainMenu ul.menuTag li.keynavoff a:hover{
	color				:#E9E9E9;
	font-weight			:normal;
	font-size			:13px;
}
.header_Wapper .mainMenu ul.menuTag li span{
	float				:left;
	height				:31px;
	line-height			:31px;
	text-align			:center;
}
/*已選擇的按鈕的背景*/
.header_Wapper .mainMenu ul.menuTag li.keynavon a span.limg{
	background-image	:url(../images/mm_l.png);
	_background-image	:url(../images/mm_l.gif);
	background-position	:0px bottom;
	background-repeat	:no-repeat;
	width				:10px;
}
.header_Wapper .mainMenu ul.menuTag li.keynavon a span.txt{
	background-image	:url(../images/mm_m.png);
	_background-image	:url(../images/mm_m.gif);
	background-position	:0px bottom;
	background-repeat	:repeat-x;
	padding				:0px 10px;
}
.header_Wapper .mainMenu ul.menuTag li.keynavon a span.rimg{
	background-image	:url(../images/mm_r.png);
	_background-image	:url(../images/mm_r.gif);
	background-position	:0px bottom;
	background-repeat	:no-repeat;
	width				:10px;
}

/*未選擇的按鈕的背景*/
.header_Wapper .mainMenu ul.menuTag li.keynavoff a span.limg{
	background-image	:url(../images/mm_l.png);
	_background-image	:url(../images/mm_l.gif);
	background-position	:0px top;
	background-repeat	:no-repeat;
	width				:10px;

}
.header_Wapper .mainMenu ul.menuTag li.keynavoff a span.txt{
	background-image	:url(../images/mm_m.png);
	_background-image	:url(../images/mm_m.gif);
	background-position	:0px top;
	background-repeat	:repeat-x;
	padding				:0px 10px;

}
.header_Wapper .mainMenu ul.menuTag li.keynavoff a span.rimg{
	background-image	:url(../images/mm_r.png);
	_background-image	:url(../images/mm_r.gif);
	background-position	:0px top;
	background-repeat	:no-repeat;
	width				:10px;
}
/*未選擇的按鈕的背景*/
.header_Wapper .mainMenu ul.menuTag li.keynavoff a:hover span.limg{
	background-image	:url(../images/mm_l.png);
	_background-image	:url(../images/mm_l.gif);
	background-position	:0px center;
	_background-position:0px top;
	background-repeat	:no-repeat;
	width				:10px;

}
.header_Wapper .mainMenu ul.menuTag li.keynavoff a:hover span.txt{
	background-image	:url(../images/mm_m.png);
	_background-image	:url(../images/mm_m.gif);
	background-position	:0px center;
	_background-position:0px top;
	background-repeat	:repeat-x;
	padding				:0px 10px;

}
.header_Wapper .mainMenu ul.menuTag li.keynavoff a:hover span.rimg{
	background-image	:url(../images/mm_r.png);
	_background-image	:url(../images/mm_r.gif);
	background-position	:0px center;
	_background-position:0px top;
	background-repeat	:no-repeat;
	width				:10px;
	
}

.header_Wapper .mainMenu ul.subMenu{
}
.header_Wapper .mainMenu ul.subMenu.index{
	display				:none;
}
.header_Wapper .mainMenu ul.subMenu li{
	float				:left;
	line-height			:28px;
	height				:28px;
	margin				:0px 5px;
}
.header_Wapper .mainMenu ul.subMenu li.keynavon a{
	color				:#2473EA;
}
.header_Wapper .mainMenu ul.subMenu li.keynavoff a:hover{
	color				:#FF7800;
	border-bottom-width	:1px;
	border-bottom-style	:dotted;
	border-bottom-color	:#FF7800;
	padding				:0px;
	margin				:0px;
}

.header_Wapper .mainMenu ul.subMenu li.keynavoff a{
	color				:#646464;
}

/*內容區塊*/
.content_Wapper{
	width				:952px;
	margin				:50px auto 30px auto;
}
.content_Wapper .header{
	width				:100%;
	border-bottom-width	:1px;
	border-bottom-style	:solid;
	border-bottom-color	:#D9D9D9;
}
.content_Wapper .header span{
	float				:left;
	height				:44px;
}
.content_Wapper .header span.limg{
	background-image	:url(../images/headtitle_limg.gif);
	background-repeat	:no-repeat;
	background-position	:0px 0px;
	width				:4px;
	display				:block;
}
.content_Wapper .header.none ul.menu li.left,
.content_Wapper .header.none ul.menu li.right{
	display				:none;
}
.content_Wapper .header ul.menu li.left,
.content_Wapper .header ul.menu li.right{
	display				:block;
}
.content_Wapper .header ul.menu{
	width				:944px;
	display				:block;
	background-color	:#F3F3F3;
	line-height			:44px;
	float				:left;
}
.content_Wapper .header span.rimg{
	background-image	:url(../images/headtitle_rimg.gif);
	background-repeat	:no-repeat;
	background-position	:0px 0px;
	width				:4px;
	display				:block;
}
.content_Wapper .header ul{}
.content_Wapper .header ul li{
	float				:left;
}
.content_Wapper .header ul li.title{
	padding				:0px 13px 0px 21px;
}
.content_Wapper .header ul li.title h1{
	font-size			:28px;
	color				:#454545;
	font-weight			:bold;
	margin				:0px;
	padding				:0px;
}

.content_Wapper .header ul li.left{
	float				:left;
}
.content_Wapper .header ul li.right{
	float				:right;
}
.content_Wapper .header ul.menu li{
	margin				:0px 2px;
}
.content_Wapper .header ul.menu li span{
	float				:left;
	height				:33px;
	line-height			:31px;
	text-align			:center;
}
.content_Wapper .header ul.menu li a,
.content_Wapper .header ul.menu li a:hover{
	color				:#646464;

}

.content_Wapper .header ul.menu li.keynavon{
	font-size			:16px;
	color				:#646464;
}
.content_Wapper .header ul.menu li.keynavoff a,
.content_Wapper .header ul.menu li.keynavoff a:hover{
	font-size			:16px;
	color				:#E9E9E9;
}
.content_Wapper .header ul.menu li.keynavon{
	padding				:11px 0px 0px 0px;
}
.content_Wapper .header ul.menu li.keynavoff{
	padding				:11px 0px 0px 0px;
}

.content_Wapper .header ul.menu li.keynavon span.limg{
	background-image	:url(../images/t_l.png);
	_background-image	:url(../images/mm_l.gif);
	background-position	:0px bottom;
	background-repeat	:no-repeat;
	width				:10px;
}
.content_Wapper .header ul.menu li.keynavon span.txt{
	background-image	:url(../images/t_m.png);
	_background-image	:url(../images/mm_m.gif);
	background-position	:0px bottom;
	background-repeat	:repeat-x;
	padding				:0px 10px;
}
.content_Wapper .header ul.menu li.keynavon span.rimg{
	background-image	:url(../images/t_r.png);
	_background-image	:url(../images/mm_r.gif);
	background-position	:0px bottom;
	background-repeat	:no-repeat;
	width				:10px;
}

.content_Wapper .header ul.menu li.keynavoff a span.limg{
	background-image	:url(../images/t_l.png);
	_background-image	:url(../images/mm_l.gif);
	background-position	:0px 1px;
	background-repeat	:no-repeat;
	width				:10px;
}
.content_Wapper .header ul.menu li.keynavoff a span.txt{
	background-image	:url(../images/t_m.png);
	_background-image	:url(../images/mm_m.gif);
	background-position	:0px 1px;
	background-repeat	:repeat-x;
	padding				:0px 10px;
}
.content_Wapper .header ul.menu li.keynavoff a span.rimg{
	background-image	:url(../images/t_r.png);
	_background-image	:url(../images/mm_r.gif);
	background-position	:0px 1px;
	background-repeat	:no-repeat;
	width				:10px;
}

.content_Wapper .header ul.menu li.keynavoff a:hover span.limg{
	background-image	:url(../images/t_l.png);
	_background-image	:url(../images/mm_l.gif);
	background-position	:0px -32px;
	_background-position:0px 1px;
	background-repeat	:no-repeat;
	width				:10px;
}
.content_Wapper .header ul.menu li.keynavoff a:hover span.txt{
	background-image	:url(../images/t_m.png);
	_background-image	:url(../images/mm_m.gif);
	background-position	:0px -32px;
	_background-position:0px 1px;
	background-repeat	:repeat-x;
	padding				:0px 10px;
}
.content_Wapper .header ul.menu li.keynavoff a:hover span.rimg{
	background-image	:url(../images/t_r.png);
	_background-image	:url(../images/mm_r.gif);
	background-position	:0px -32px;
	_background-position:0px 1px;
	background-repeat	:no-repeat;
	width				:10px;
}
.content_Wapper .body{
	background-color	:#FFF;
	padding				:20px 0px 3px 0px;	
}

.content_Wapper.menu .body{
	background-color	:#FFF;
	padding				:20px 0px;
	_background-image	:none;

}
.content_Wapper.menu .body ul{
	width				:920px;
	margin				:auto;
}

.content_Wapper.menu .body ul li{
	width				:218px;
	height				:214px;
	display				:block;
	border				:1px solid #D2D2D2;
	background-color	:#EEEEEE;
	text-align			:center;
	float				:left;
	margin				:0px 5px;
	#margin				:0px 4px;
	_margin				:0px 4px;
	background-repeat	:no-repeat;
	background-position	:50% 50%;
	
}

.content_Wapper.menu .body ul li.btn a{
	width				:100%;
	height				:100%;
	display				:block;
	font-size			:15px;
	color				:#2E738C;
	font-weight			:bold;
}
.content_Wapper.menu .body ul li span{
	display				:block;
	padding				:182px 0px 0px 0px;
}
.content_Wapper.menu .body ul li.function01{
	background-image	:url(../images/function_01.gif);	
}
.content_Wapper.menu .body ul li.function02{
	background-image	:url(../images/function_02.gif);
}
.content_Wapper.menu .body ul li.function03{
	background-image	:url(../images/function_03.gif);
}
.content_Wapper.menu .body ul li.function04{
	background-image	:url(../images/function_04.gif);
}

.content_Wapper .footer{
	width				:100%;
	height				:3px;
}
.content_Wapper.footer span.lImg{
	width				:951px;
	height				:1px;
	margin				:auto;
	background-color	:#FFF;
	display				:block;
	_display			:none;
}
.content_Wapper .footer span.rImg{
	width				:950px;
	height				:1px;
	margin				:auto;
	background-color	:#FFF;
	display				:block;
	_display			:none;
	
}
.footer_Wapper.index{
	width				:100%;
	height				:29px;
	line-height			:29px;
	background-image	:url(../images/footer_WapperBG.gif);
	background-repeat	:repeat-x;
	background-position	:left top;
	/*position			:absolute;*/
	position			:fixed;
	bottom				:0px;
	color				:#616161;
	font-size			:11px;
	font-family			:"Dotum";
	_font-family		:"新細明體";
	
}
.footer_Wapper{
	margin				:36px 0px 0px 0px;
	width				:100%;
	height				:29px;
	line-height			:29px;
	background-image	:url(../images/footer_WapperBG.gif);
	background-repeat	:repeat-x;
	background-position	:left top;
	color				:#616161;
	font-size			:11px;
	font-family			:"Dotum";
	_font-family		:"新細明體";
}
.footer_Wapper.none ul li a{
	display				:none;	
}
.footer_Wapper ul{
	width				:952px;
	margin				:auto;
}
.footer_Wapper ul li{
	float				:left;
	margin				:0px 3px;
}
.footer_Wapper ul li.left{
	float				:left;
}
.footer_Wapper ul li.right{
	float				:right;
}
.footer_Wapper ul li a{
	color				:#547077;
}

/*--------------------------------------------------
				通訊錄管理共用頁面
--------------------------------------------------*/
.content_Wapper .body .addressBook{
	border				:1px solid #DBDBDB;
	width				:946px;
	margin				:auto;
}
.content_Wapper .body .addressBook .head{
	line-height			:22px;	
	padding				:4px 0px;
}
.content_Wapper .body .addressBook .head ul li a{
	color				:#1B6BF4;
	border-bottom-width	: 1px;
	border-bottom-style	: dotted;
	border-bottom-color	: #1B6BF4;
} 
.content_Wapper .body .addressBook .head ul li a:hover{
	color				:#FF7800;
	border-bottom-width	: 1px;
	border-bottom-style	: solid;
	border-bottom-color	: #FF7800;
} 
.content_Wapper .body .addressBook .head ul{

}
.content_Wapper .body .addressBook .head ul li{
	margin				:0px 2px;
}
.content_Wapper .body .addressBook .head ul li span{
}
.content_Wapper .body .addressBook .head ul li.addUser{
	background-image	:url(../images/addUser.gif);
	background-repeat	:no-repeat;
	background-position	:0px 0px;
	display				:block;
	padding				:0px 0px 0px 17px;
	height				:22px;
}
.content_Wapper .body .addressBook .head ul li.editUser{
	background-image	:url(../images/editUser.gif);
	background-repeat	:no-repeat;
	background-position	:0px 0px;
	display				:block;
	padding				:0px 0px 0px 17px;
	height				:22px;
}
.content_Wapper .body .addressBook .head ul li.addGroup{
	background-image	:url(../images/addGroup.gif);
	background-repeat	:no-repeat;
	background-position	:0px 0px;
	display				:block;
	padding				:0px 0px 0px 23px;
	height				:22px;
}
.content_Wapper .body .addressBook .head ul li.left{
	float				:left;
}
.content_Wapper .body .addressBook .head ul li.right{
	float				:right;
}
.content_Wapper .body .addressBook .head ul li.search {
	width				:125px;
	height:20px;
	background-image	:url(../images/inputBG.gif);
	background-repeat	:repeat-x;
	background-position	:0px 0px;


}
.content_Wapper .body .addressBook .head ul li.search input{
	position			:absolute;
	width				:107px;
	height				:12px;
	line-height			:12px;
	font-size			:12px;
	padding				:4px 0px 4px 18px;
	margin				:0px;
	color				:#9d9d9d;
	border				:solid 1px #CCCCCC;
	background-color	:transparent;
	background-image	:url(../images/inputIcon.gif);
	background-repeat	:no-repeat;
	background-position	:0px 0px;
}
.content_Wapper .body .addressBook .body{
	width				:100%;
	height				:440px;
	border-top:1px solid #DBDBDB;
	padding				:0px;
	margin				:0px;
}
.content_Wapper .body .addressBook .body .groupManage{
	position			:absolute;
	left				:-1px;
	top					:0px;
	width				:235px;
	height				:441px;
	overflow			:hidden;
	padding				:0px 3px;
}
.content_Wapper .body .addressBook .body .line{
	background-image	:url(../images/addressLine.gif);
	background-repeat	:no-repeat;
	background-position	:right 0px;	
	#background-position:238px 0px;	
}
.content_Wapper .body .addressBook .body .groupManage h2{
	border-bottom-width	:1px;
	border-bottom-style	:solid;
	border-bottom-color	:#DCDCDC;
	height				:22px;
	line-height			:22px;
	color				:#484848;
	font-size			:16px;
	padding				:0px 0px 0px 2px;	
}
.content_Wapper .body .addressBook .body .groupManage ul{
	width				:234px;
	margin				:0px 0px;
	height				:419px;
	overflow-y			:auto;
	overflow-x			:hidden;
}
.content_Wapper .body .addressBook .body .groupManage ul li{
	height				:22px;
	line-height			:22px;
	font-size			:13px;
	color				:#040404;
	padding				:0px 0px;
	width				:auto;
}
.content_Wapper .body .addressBook .body .groupManage ul li a{
	color				:#040404;
	display				:block;
	width				:100%;
	height				:22px;
	display				:block;
}
.content_Wapper .body .addressBook .body .groupManage ul li a:hover{
	background-color	:#E6EBFE;
}
.content_Wapper .body .addressBook .body .groupManage ul li.keynavon a{
	background-color	:#FFF8E6;
}

.content_Wapper .body .addressBook .body .groupManage ul li span.gName{
	float				:left;
	width				:160px;
	padding				:0px 0px 0px 3px;
}
.content_Wapper .body .addressBook .body .groupManage ul li span.gNumber,
.content_Wapper .body .addressBook .body .groupManage ul li span.gNumber a,
.content_Wapper .body .addressBook .body .groupManage ul li span.gNumber a:hover{
	float				:right;
	color				:#6F7C83;
	padding				:0px 3px 0px 0px;
}
.content_Wapper .body .addressBook .body .groupManage ul li.all{
	margin				:3px 0px 0px 0px;
	border-top-width	:1px;
	border-top-style	:solid;
	border-top-color	:#DBDBDB;
}
.content_Wapper .body .addressBook .body .groupManage ul li.all a{
	margin				:3px 0px 0px 0px;
}
.content_Wapper .body .addressBook .body .indexPlan{
	width				:235px;
	height				:441px;
	position			:absolute;
	left				:240px;
	top					:0px;
	padding				:0px 2px;
	
}
.content_Wapper .body .addressBook .body .indexPlan ul.head{
	margin				:0px;
	padding				:0px;
	border-bottom-width	:1px;
	border-bottom-style	:solid;
	border-bottom-color	:#DCDCDC;
	height				:22px;
	line-height			:22px;
	color				:#454545;
}
.content_Wapper .body .addressBook .body .indexPlan ul.head a{
	color				:#2473EA;
	border-bottom-width	:1px;
	border-bottom-style	:dotted;
	border-bottom-color	:#2473EA;
}
.content_Wapper .body .addressBook .body .indexPlan ul.head a:hover{
	color				:#FF7800;
	border-bottom-width	:1px;
	border-bottom-style	:solid;
	border-bottom-color	:#FF7800;
}

.content_Wapper .body .addressBook .body .indexPlan h2{
	color				:#484848;
	font-size			:16px;
	padding				:0px 0px 0px 2px;	
}
.content_Wapper .body .addressBook .body .indexPlan ul.head li{
	margin				:0px;
	padding				:0px;
}
.content_Wapper .body .addressBook .body .indexPlan ul.head li.left{
	float				:left;
}
.content_Wapper .body .addressBook .body .indexPlan ul.head li.right{
	float				:right;
}
.content_Wapper .body .addressBook .body  ul.addressList{
	height				:419px;
	margin				:0px 0px;
	overflow-y			:auto;
	overflow-x			:hidden;
	width				:235px;
}
.content_Wapper .body .addressBook .body  ul.addressList li{
	width				:auto;
	margin				:auto;
	line-height			:22px;
	height				:22px;
	font-size			:13px;
	color				:#000;
}
.content_Wapper .body .addressBook .body  ul.addressList li a,
.content_Wapper .body .addressBook .body  ul.addressList li a:hover{
	color				:#000;
}
.content_Wapper .body .addressBook .body  ul.addressList li input{
	vertical-align		:middle;
	margin				:0px 8px 0px 6px;
}
.content_Wapper .body .addressBook .body  ul.addressList li a{
	background-color	:#FFF;
	width				:100%;
	height				:22px;
	display				:block;
}
.content_Wapper .body .addressBook .body  ul.addressList li a:hover{
	background-color	:#E6EBFE;
	width				:100%;
	height				:22px;
	display				:block;
}
.content_Wapper .body .addressBook .body  ul.addressList li.keynavon,
.content_Wapper .body .addressBook .body  ul.addressList li.keynavon a{
	background-color	:#FFF8E6;
	width				:100%;
	padding				:0px;
	margin				:0px;
}
.content_Wapper .body .addressBook .body  ul.addressList li.keynavoff{
	padding				:0px;
	margin				:0px;
}
.content_Wapper .body .addressBook .body .manageContent{
	position			:absolute;
	width				:466px;
	left				:480px;
	top					:0px;
}
.content_Wapper .body .addressBook .manageContent ul.head{
	margin				:0px;
	padding				:0px;
	height				:31px;
	background-image	:url(../images/manageContentBG.gif);
	background-repeat	:repeat-x;
	background-position	:0px 0px;
}
.content_Wapper .body .addressBook .manageContent ul.head li.groupMenu{
	background-image	:url(../images/groupMenuArraw.gif);
	background-repeat	:no-repeat;
	background-position	:right 0px;
	width				:39px;
	display				:block;
}
.content_Wapper .body .addressBook .manageContent ul.head li.groupMenu.none{
	display				:none;

}
.content_Wapper .body .addressBook .manageContent ul.head li.edit.keynavoff a,
.content_Wapper .body .addressBook .manageContent ul.head li.groupMenu.keynavoff a{
	color				:#999999;
}
.content_Wapper .body .addressBook .manageContent ul.head li.edit.keynavon a,
.content_Wapper .body .addressBook .manageContent ul.head li.edit.keynavon a:hover,
.content_Wapper .body .addressBook .manageContent ul.head li.groupMenu.keynavon a,
.content_Wapper .body .addressBook .manageContent ul.head li.groupMenu.keynavon a:hover{
	color				:#2473EA;
}
.content_Wapper .body .addressBook .manageContent ul.head li.edit.save a{
	color				:#FF7800;
	text-decoration		:none;
}
.content_Wapper .body .addressBook .manageContent ul.head li.edit.save a:hover{
	color				:#FF7800;
	text-decoration		:underline;
}
.content_Wapper .body .addressBook .manageContent ul.head li.groupMenu.keynavoff ul{
	display				:none;	
}
.content_Wapper .body .addressBook .manageContent ul.head li.groupMenu.keynavoff a{
	visibility			:visible;
}
.content_Wapper .body .addressBook .manageContent ul.head li.groupMenu.keynavon a{
	visibility			:visible;
	color				:#2473EA;
}
.content_Wapper .body .addressBook .manageContent ul.head li.groupMenu.keynavon ul{
	display				:none;
}
.content_Wapper .body .addressBook .manageContent ul.head li.groupMenu.keynavon.clicked ul{
	display				:block;	
}
.content_Wapper .body .addressBook .manageContent ul.head li.groupMenu.keynavon.clicked a{
	visibility			:hidden;
}
.content_Wapper .body .addressBook .manageContent ul.head li.groupMenu.keynavon.clicked  ul{
	position			:absolute;
	width				:100px;
	background-image	:url(../images/groupMenuBG.gif);
	background-repeat	:no-repeat;
	background-position	:0px 2px;
	left				:30px;
	top					:2px;
	padding				:4px 0px 0px 1px;
	margin				:1px 0px 0px 0px;
}
.content_Wapper .body .addressBook .manageContent ul.head li.groupMenu.keynavon.clicked  ul a{
	color				:#000;
	visibility			:visible;
}
.content_Wapper .body .addressBook .manageContent ul.head li.groupMenu.keynavon.clicked  ul li.groupMenuBtn{
	background-color	:transparent;
	color				:#2473EA;
	border-right-width	:0px;
	border-left-width	:0px;
	margin				:0px 0px 7px 0px;	
}
.content_Wapper .body .addressBook .manageContent ul.head li.groupMenu.keynavon.clicked  ul li.groupMenuBtn a,
.content_Wapper .body .addressBook .manageContent ul.head li.groupMenu.keynavon.clicked  ul li.groupMenuBtn a:hover{
	color				:#2473EA;
	background-color	:transparent;
}

.content_Wapper .body .addressBook .manageContent ul.head li.groupMenu.keynavon.clicked ul li{
	float				:none;
	height				:18px;
	line-height			:18px;
	background			:#FFF;
	width				:90px;
	display				:block;
	margin				:0px;
	padding				:0px 4px;
	border-right-width	:1px;
	border-left-width	:1px;
	border-right-style	:solid;
	border-left-style	:solid;
	border-right-color	:#DBDBDB;
	border-left-color	:#DBDBDB;
	margin				:0px 0px 0px -1px;
	color				:#000;
}
.content_Wapper .body .addressBook .manageContent ul.head li.groupMenu.keynavon.clicked  ul li.title{
	font-weight			:bold;
}
.content_Wapper .body .addressBook .manageContent ul.head li.groupMenu.keynavon.clicked  ul li.bottom{
	border-top			:solid 1px #DBDBDB;
	width				:92px;
	margin				:0px 0px 0px -1px ;
	padding				:0px 4px;
	line-height			:1px;
	display				:block;
	border-right-width	:0px;
	border-left-width	:0px;
}
.content_Wapper .body .addressBook .manageContent ul.head li.groupMenu.keynavon.clicked  ul li a,
.content_Wapper .body .addressBook .manageContent ul.head li.groupMenu.keynavon.clicked  ul li a:hover{
	color				:#000000;
	text-decoration		:none;
	border				:0px;
	width				:100%;
	display				:block;
}
.content_Wapper .body .addressBook .manageContent ul.head li.groupMenu.keynavon.clicked  ul li a:hover{
	background-color	:#FEF8E6;		
}
.content_Wapper .body .addressBook .manageContent ul.head li{
	margin				:0px;
	padding				:0px 3px;
	float				:left;
	line-height			:31px;
}
.content_Wapper .body .addressBook .manageContent ul.head li.left{
	float				:left;
}
.content_Wapper .body .addressBook .manageContent ul.head li.right{
	float				:right;
}
.content_Wapper .body .addressBook .manageContent ul.head li.del,
.content_Wapper .body .addressBook .manageContent ul.head li.del a,
.content_Wapper .body .addressBook .manageContent ul.head li.del a:hover{
	color				:#C90103;
}
.content_Wapper .body .addressBook .manageContent ul.head li.del.none{
	display				:none;
}
.content_Wapper .body .addressBook .manageContent ul.head li a,
.content_Wapper .body .addressBook .manageContent ul.head li a:hover{
	color				:#999;
}
.content_Wapper .body .addressBook .manageContent ul.body{
	margin				:0px;
	padding				:0px;
	height				:411px;
}
.content_Wapper .body .addressBook .manageContent ul.body li{
	margin				:0px;
	padding				:0px;
}
.content_Wapper .body .addressBook .manageContent ul.body li.title{
	width				:100%;
	border-bottom-width	:1px;
	border-bottom-style	:solid;
	border-bottom-color	:#DBDBDB;
}
.content_Wapper .body .addressBook .manageContent ul.body li.title h2{
	clear				:both;
	width				:100%;
	display				:block;
	line-height			:24px;
	color				:#000;
	font-size			:16px;
	font-weight			:bold;	
}
.content_Wapper .body .addressBook .manageContent ul.body li.Discribe{
	width				:320px;
	padding				:0px 0px 0px 91px;
	height				:106px;
	margin				:12px 0px 0px 0px;
	line-height			:22px;
	font-size			:15px;
	color				:#666;
}
.content_Wapper .body .addressBook .manageContent ul.body li.advice{
	margin				:0px 0px 0px 88px;
	_margin				:0px 0px 0px 42px;
	width				:60px;
}
.content_Wapper .body .addressBook .manageContent ul.body li.moreInfo{
	width				:90px;
}
.content_Wapper .body .addressBook .manageContent ul.body li.advice,
.content_Wapper .body .addressBook .manageContent ul.body li.moreInfo{
	float				:left;
	color				:#2473EA;
	font-size			:15px;
	line-height			:15px;
	padding				:0px 4px;
	display				:block;
}
.content_Wapper .body .addressBook .manageContent ul.body li.advice a,
.content_Wapper .body .addressBook .manageContent ul.body li.moreInfo a{
	color				:#2473EA;
	border-bottom		:dotted 1px #2473EA;
	line-height			:16px;
	height				:15px;
	display				:block;
}
.content_Wapper .body .addressBook .manageContent ul.body li.advice a:hover,
.content_Wapper .body .addressBook .manageContent ul.body li.moreInfo a:hover{
	color				:#FF7800;
	border-bottom		:solid 1px #FF7800;
	height				:15px;
	display				:block;
}
.content_Wapper .body .addressBook .manageContent ul.body.group li{
	color				:#666;
	line-height			:22px;
	border-bottom-width	:1px;
	border-bottom-style	:solid;
	border-bottom-color	:#DBDBDB;
	padding				:0px 4px;
} 
.content_Wapper .body .addressBook .manageContent ul.body.group  li.title{
	width				:100%;
	padding				:0px;
	border-bottom-width	:0px;
	border-bottom-style	:solid;
	border-bottom-color	:#DBDBDB;
}
.content_Wapper .body .addressBook .manageContent ul.userMaterial{
	position			:absolute;
	left				:0px;
	top					:66px;
	margin				:0px;
	color				:#000;
	font-size			:15px;
	overflow			:auto;
	width				:100%;
	height				:376px;
	_height				:386px;
}
.content_Wapper .body .addressBook .manageContent ul.userMaterial li{
	line-height			:28px;
	width				:440px;
	padding				:0px 0px 0px 6px;
}
.content_Wapper .body .addressBook .manageContent ul.userMaterial li span a{
	color				:#1D7AE2;
	text-decoration		:none;
}
.content_Wapper .body .addressBook .manageContent ul.userMaterial li span a:hover{
	color				:#1D7AE2;
	text-decoration		:underline;
}
.content_Wapper .body .addressBook .manageContent ul.userMaterial li span.moreDiscribe{
	display				:block;
	width				:100%;
}
.content_Wapper .body .addressBook .manageContent ul.userMaterial.add li.title,
.content_Wapper .body .addressBook .manageContent ul.userMaterial li.title{
	font-weight			:bold;
	padding				:4px 0px 0px 6px;
	float				:none;
	clear				:left;
}
.content_Wapper .body .addressBook .manageContent ul.userMaterial li span.text{
	font-size			:13px;
	color				:#666666;
}
.content_Wapper .body .addressBook .manageContent ul.userMaterial li span.yes{
	background-image	:url(../images/yes.png);
	_background-image	:url(../images/yes.gif);
	background-repeat	:no-repeat;
	background-position	:0px 50%;
	display				:block;
	line-height			:22px;
	padding				:0px 0px 0px 20px;
}
.content_Wapper .body .addressBook .manageContent ul.userMaterial li span.no{
	background-image	:url(../images/no.png);
	_background-image	:url(../images/no.gif);
	background-repeat	:no-repeat;
	background-position	:0px 50%;	
	display				:block;
	line-height			:22px;
	padding				:0px 0px 0px 20px;
}
.content_Wapper .body .addressBook .manageContent ul.userMaterial li.headImg img{
	width				:100%;
}
.content_Wapper .body .addressBook .manageContent ul.userMaterial li.headImg{
	position			:absolute;
	top					:4px;
	left				:290px;
	width				:100px;
	height				:100px;
	display				:block;
}
.content_Wapper .body .addressBook .manageContent ul.userMaterial.edit,
.content_Wapper .body .addressBook .manageContent ul.userMaterial.add{
	position			:absolute;
	left				:0px;
	top					:30px;
	padding				:6px 0px 0px 0px;
	margin				:0px;
	color				:#000;
	font-size			:15px;
	overflow			:auto;
	width				:100%;
	height				:399px;
	_height				:409px;
	border-top			:solid 1px #DBDBDB;
}
.content_Wapper .body .addressBook .manageContent ul.userMaterial.edit li,
.content_Wapper .body .addressBook .manageContent ul.userMaterial.add li{
	width				:440px;
}
.content_Wapper .body .addressBook .manageContent ul.userMaterial.edit li input{
	width				:300px;
	color				:#000;
}
.content_Wapper .body .addressBook .manageContent ul.userMaterial.add li input{
	width				:300px;
	color				:#999;
}
.content_Wapper .body .addressBook .manageContent ul.userMaterial.edit li.two span,
.content_Wapper .body .addressBook .manageContent ul.userMaterial.add li.two span{
	padding				:0px 5px 0px 0px;
	margin				:0px;
	float				:left;
	width				:150px;
}
.content_Wapper .body .addressBook .manageContent ul.userMaterial.edit li.two span input,
.content_Wapper .body .addressBook .manageContent ul.userMaterial.add li.two span input{
	width				:145px;
	margin				:0px;
	padding				:0px;
}
.content_Wapper .body .addressBook .manageContent ul.userMaterial.edit li span input,
.content_Wapper .body .addressBook .manageContent ul.userMaterial.add li span input{
}
.content_Wapper .body .addressBook .manageContent ul.userMaterial.edit li span.normal,
.content_Wapper .body .addressBook .manageContent ul.userMaterial.add li span.normal{
	width				:230px;
}
.content_Wapper .body .addressBook .manageContent ul.userMaterial.edit li span.normal input,
.content_Wapper .body .addressBook .manageContent ul.userMaterial.add li span.normal input{
	width				:200px;
}
.content_Wapper .body .addressBook .manageContent ul.userMaterial.edit li span.normal textarea,
.content_Wapper .body .addressBook .manageContent ul.userMaterial.add li span.normal textarea{
	height				:50px;
	width				:200px;
	float				:left;
	margin				:0px;
	padding				:0px;
}
.content_Wapper .body .addressBook .manageContent ul.userMaterial.edit li span.remark textarea,
.content_Wapper .body .addressBook .manageContent ul.userMaterial.add li span.remark textarea{
	height				:40px;
	width				:260px;
	float				:left;
	margin				:0px;
	padding				:0px;
}
.content_Wapper .body .addressBook .manageContent ul.userMaterial.edit li span.address,
.content_Wapper .body .addressBook .manageContent ul.userMaterial.add li span.address{
	float				:left;
	margin				:0px 0px 0px 4px;
	#margin				:-4px 0px 0px 4px;
	_margin				:0px 0px 0px 4px;
}

.content_Wapper .body .addressBook .manageContent ul.userMaterial.edit li select,
.content_Wapper .body .addressBook .manageContent ul.userMaterial.add li select{
	height				:20px;
	line-height			:20px;
	padding				:0px;
	margin				:0px;
	font-size			:12px;
}
.content_Wapper .body .addressBook .manageContent ul.userMaterial.edit li.title a,
.content_Wapper .body .addressBook .manageContent ul.userMaterial.add li.title a{
	font-weight			:normal;
	font-size			:13px;
	text-decoration		:none;
}
.content_Wapper .body .addressBook .manageContent ul.userMaterial.edit li.title a:hover, 
.content_Wapper .body .addressBook .manageContent ul.userMaterial.add li.title a:hover{
	font-weight			:normal;
	font-size			:13px;
	text-decoration		:underline;	
}
.content_Wapper .body .addressBook .manageContent ul.userMaterial.edit li.relation, 
.content_Wapper .body .addressBook .manageContent ul.userMaterial.add li.relation{
	width				:300px;
}
.content_Wapper .body .addressBook .manageContent ul.userMaterial.edit li.relation span.mail,
.content_Wapper .body .addressBook .manageContent ul.userMaterial.add li.relation span.mail{
	float				:none;
	width				:100%;
}
.content_Wapper .body .addressBook .manageContent ul.userMaterial.edit li.relation span,
.content_Wapper .body .addressBook .manageContent ul.userMaterial.add li.relation span{
	float				:left;
	width				:50%;
	_width				:48.1%;
	margin				:0px 0px 0px 0px;
}
.content_Wapper .body .addressBook .manageContent ul.userMaterial.edit li.relation input,
.content_Wapper .body .addressBook .manageContent ul.userMaterial.add li.relation input{
	width				:100%;
	_padding			:1px;
}
.content_Wapper .body .addressBook .manageContent ul.userMaterial.edit li span.item,
.content_Wapper .body .addressBook .manageContent ul.userMaterial.add li span.item{
	display				:block;
	width				:100px;
	float				:left;
	_line-height		:20px;
}
.content_Wapper .body .addressBook .manageContent ul.userMaterial.edit li span.radio,
.content_Wapper .body .addressBook .manageContent ul.userMaterial.add li span.radio{
	margin				:0px 5px 0px 0px;
}
.content_Wapper .body .addressBook .manageContent ul.userMaterial.edit li span.radio input,
.content_Wapper .body .addressBook .manageContent ul.userMaterial.add li span.radio input{
	width				:12px;
	height				:12px;
	padding				:0px;
	margin				:0px 5px 0px 0px;
	vertical-align		:middle;
}
.content_Wapper .body .addressBook .manageContent ul.userMaterial.edit li.interest,
.content_Wapper .body .addressBook .manageContent ul.userMaterial.add li.interest{
	margin				:0px 0px 0px 10px;
	padding				:0px 0px 20px 0px;
	width				:360px;
}
.content_Wapper .body .addressBook .manageContent ul.userMaterial.edit li.interest span,
.content_Wapper .body .addressBook .manageContent ul.userMaterial.add li.interest span{
	width				:24.8%;
	margin				:4px 0px;
	float				:left;
	font-size			:16px;
	color				:#999999;
}
.content_Wapper .body .addressBook .manageContent ul.userMaterial.edit li.interest span input,
.content_Wapper .body .addressBook .manageContent ul.userMaterial.add li.interest span input{
	vertical-align		:middle;
	width				:13px;
	hight				:13px;
	margin				:4px 2px 0px 0px;	
	#margin				:0px 2px 0px 0px;
	_margin				:0px 2px 0px 0px;
}
.content_Wapper .body .addressBook .manageContent ul.userMaterial.edit  li span.remove a{
	position			:absolute;
	font-size			:13px;
	line-height			:13px;
	_line-height		:16px;
	#height				:13px;
	margin				:6px 0px 0px 4px;
	#margin				:3px 0px 0px 4px;
	_margin				:3px 0px 0px 4px;
}
.content_Wapper .body .addressBook .manageContent ul.userMaterial.edit  li span.remove.add{
	font-size			:13px;
	line-height			:13px;
	_line-height		:16px;
	margin				:2px 0px 0px 4px;
	_margin				:3px 0px 0px 4px;
	position			:absolute;
	width				:50px;
}
.content_Wapper .body .addressBook .manageContent ul.userMaterial.edit  li.relation span.remove{
	position			:absolute;
	left				:308px;
	_left				:311px;
	width				:50px;
	margin				:2px 0px 0px 0px;
}
/*-------------------------
		訊		息
-------------------------*/
.wrapper .Msg{
	position			:relative;
	width				:100%;
}
.wrapper .Msg ul{
	position			:absolute;
	left				:50%;
	margin				:13px 0px 0px -475px ;
	border				:solid 1px blue;
	width				:950px;
	height				:25px;
	line-height			:25px;
	font-size			:13px;
	display				:block;
}
.wrapper .Msg.error ul{
	background-color	:#E1C2C2;
	border				:solid 1px #AE6464;
}
.wrapper .Msg.success ul{
	background-color	:#C5E3BF;
	border				:solid 1px #3B6E31;
}
.wrapper .Msg.warning ul{
	background-color	:#E7DBA0;
	border				:solid 1px #998A39;
}
.wrapper .Msg ul li{
	float				:left;
}
.wrapper .Msg.error ul li.img{
	position			:absolute;
	left				:0px;
	top					:0px;
	background			:url(../images/red_ico.png);
	background-position	:50% 50%;
	background-repeat	:no-repeat;
	height				:45px;
	width				:45px;
	margin				:-11px 0px 0px 4px;
	display				:block;
}
.wrapper .Msg.success ul li.img{
	background			:url(../images/green_ico.png);
	background-position	:50% 50%;
	background-repeat	:no-repeat;
	height				:45px;
	width				:45px;
	margin				:-11px 0px 0px 4px;
	display				:block;
	position			:absolute;
	left				:0px;
	top					:0px;
}
.wrapper .Msg.warning ul li.img{
	background			:url(../images/yellow_ico.png);
	background-position	:50% 50%;
	background-repeat	:no-repeat;
	height				:45px;
	width				:45px;
	margin				:-11px 0px 0px 4px;
	display				:block;
	position			:absolute;
	left				:0px;
	top					:0px;
}
.wrapper .Msg.error ul li.title{
	font-weight			:bold;
	font-size			:13px;
	color				:#AE2727;
	margin				:0px 0px 0px 54px;
}
.wrapper .Msg.success ul li.title{
	font-weight			:bold;
	font-size			:13px;
	color				:#386D19;
	margin				:0px 0px 0px 54px;
}
.wrapper .Msg.warning ul li.title{
	font-weight			:bold;
	font-size			:13px;
	color				:#675918;
	margin				:0px 0px 0px 54px;
}
.wrapper .Msg ul li.text{
	color				:#000;
	margin				:0px 0px 0px 10px;	
}
.wrapper .Msg.none{
	display				:none;
}
.content_Wapper .body .addressBook .body .export,
.content_Wapper .body .addressBook .body .import{
	position			:absolute;
	left				:240px;
	top					:0px;
	width				:700px;
}
.content_Wapper .body .addressBook .body .import li.sampleFile a{
	color:#2A5DB0;
	text-decoration:none;
}
.content_Wapper .body .addressBook .body .import li.sampleFile a:hover{
	color:#2A5DB0;
	text-decoration:underline;
}
.content_Wapper .body .addressBook .body .export h2,
.content_Wapper .body .addressBook .body .import h2{
	height				:22px;
	line-height			:22px;
	color				:#000;
	font-size			:16px;
	padding				:0px 0px 0px 2px;
	font-weight			:bold;
}
.content_Wapper .body .addressBook .body .export ul,
.content_Wapper .body .addressBook .body .import ul{
	margin				:0px 0px 0px 2px;
	width				:100%;
}
.content_Wapper .body .addressBook .body .export ul li,
.content_Wapper .body .addressBook .body .import ul li {
	color				:#000;
	line-height			:31px;
	clear				:both;
}
.content_Wapper .body .addressBook .body .export ul li.none{
	display				:none;
}
.content_Wapper .body .addressBook .body .export ul li.title,
.content_Wapper .body .addressBook .body .import ul li.title{
	color				:#333;
	font-weight			:bold;
}
.content_Wapper .body .addressBook .body .export ul li span,
.content_Wapper .body .addressBook .body .import ul li span{
	display				:block;
	float				:left;	
}
.content_Wapper .body .addressBook .body .export ul li span input{
	margin				:9px 4px 0px 0px;
	_margin				:7px 4px 0px 0px;
	vertical-align		:middle;
	height				:13px;
	width				:13px;
}
.content_Wapper .body .addressBook .body .export ul li span select{
	margin				:4px 0px 0px 4px;
	#margin				:0px 0px 0px 4px;
	vertical-align		:middle;
}
.content_Wapper .body .addressBook .body .export ul li.discribe,
.content_Wapper .body .addressBook .body .import ul li.discribe{
	line-height			:41px;
	color				:#666;
}
.content_Wapper .body .addressBook .body .export ul li.btn input{
	width				:60px;
	padding				:0px 0px 0px 0px;
	#padding			:4px 0px 0px 0px;
	_padding			:4px 0px 0px 0px;
	font-size			:13px;
	line-height			:16px;
}
.content_Wapper .body .addressBook .body .import ul li.btn input{
	margin				:6px 0px 0px 0px;
}
/*-------------------------
	簡訊發送-通訊錄發送
-------------------------*/
.content_Wapper .body .addressBook .body.smsSend{
	border-top:0px;
}
.content_Wapper .body .addressBook .body.smsSend .groupManage{
	position			:absolute;
	left				:-1px;
	top					:0px;
	width				:235px;
	height				:441px;
	overflow			:hidden;
	padding				:0px 3px;
}
.content_Wapper .body .addressBook .body.smsSend .groupManage ul.groupName{
	height				:250px;
	overflow			:auto;
}
.content_Wapper .body .addressBook .body.smsSend .groupManage ul.listName{
	height				:168px;
	overflow			:auto;
	border-top			:solid 1px #DBDBDB;
}
.content_Wapper .body .addressBook .body.smsSend .groupManage ul.listName h2{
	border				:0px;
}
.content_Wapper .body .addressBook .body.smsSend .groupManage ul.listName li{
	border-bottom		:1px solid #EFEFEF;
}
.content_Wapper .body .addressBook .body.smsSend .groupManage ul.listName li.noLine{
	border				:0px;
}
<!--駿成加的
.content_Wapper .body .addressBook .body.smsSend .groupManage ul.listName2{
	width				:235px;
	height				:500px;
	overflow			:auto;
	border-top			:solid 1px #DBDBDB;
}
.content_Wapper .body .addressBook .body.smsSend .groupManage ul.listName2 h2{
	border				:0px;
}
.content_Wapper .body .addressBook .body.smsSend .groupManage ul.listName2 li{
	border-bottom		:1px solid #EFEFEF;
}
.content_Wapper .body .addressBook .body.smsSend .groupManage ul.listName2 li.noLine{
	border				:0px;
	height				:150px;
}
-->
.content_Wapper .body .addressBook .body.smsSend .groupManage ul li span.checkSend{
	float				:left;
	padding				:4px 0px 0px 4px;
	#padding			:1px 0px 0px 4px;
}
.content_Wapper .body .addressBook .body.smsSend .groupManage ul li span.gName{
	float				:left;
	width				:160px;
	padding				:0px 0px 0px 3px;
}
.content_Wapper .body .addressBook .body.smsSend .groupManage ul li span.gNumber,
.content_Wapper .body .addressBook .body.smsSend .groupManage ul li span.gNumber a,
.content_Wapper .body .addressBook .body.smsSend .groupManage ul li span.gNumber a:hover{
	float				:right;
	color				:#6F7C83;
	padding				:0px 3px 0px 0px;
}
.content_Wapper .body .addressBook .body.smsSend .userSend{
	position			:absolute;
	width				:706px;
	height				:440px;
	left				:240px;
	top					:0px;
	display				:block;
	background-image	:url(../images/manageContentBG.gif);
	background-repeat	:repeat-x;
	background-position	:left top;
}
.content_Wapper .body .addressBook .body.smsSend .userSend h2{
	height				:22px;
	line-height			:22px;
	color				:#020202;
	font-size			:16px;
	padding				:0px 0px 0px 2px;
}
.content_Wapper .body .addressBook .body.smsSend .userSend .sendInfo{
	margin				:6px 0px;
}
.content_Wapper .body .addressBook .body.smsSend .userSend .sendInfo span{
	color				:#020202;
	font-size			:12px;
	margin				:0px 0px 0px 4px;	
}
.content_Wapper .body .addressBook .body.smsSend .userSend .sendInfo span input{
	width				:30px;
}
.content_Wapper .body .addressBook .body.smsSend .userSend .sendContent{
	width				:698px;
	height				:98px;
	margin				:0px auto;
	padding				:0px;
	display				:block;
}
.content_Wapper .body .addressBook .body.smsSend .userSend .sendContent textarea{
	width				:694px;
	height				:92px;
}
.content_Wapper .body .addressBook .body.smsSend .userSend .smsTin{
	width				:698px;
	margin				:6px auto;
	display				:block;
}
.content_Wapper .body .addressBook .body.smsSend .userSend ul {
	width				:100%;
}
.content_Wapper .body .addressBook .body.smsSend .userSend ul li{
}
.content_Wapper .body .addressBook .body.smsSend .userSend ul li.tinSelect{
	background-image	:url(../images/popImg.gif);
	background-position	:left center;
	background-repeat	:no-repeat;
	padding				:0px 0px 0px 14px;
}
.content_Wapper .body .addressBook .body.smsSend .userSend ul li.tinSelect a{
	color				:#145AC3;
	border-bottom		:dotted 1px #145AC3;
	_border-bottom		:dotted 0px #145AC3;
	display				:block;
}
.content_Wapper .body .addressBook .body.smsSend .userSend ul li.tinSelect a:hover{
	color				:#F0630D;
	border-bottom		:dotted 1px #F0630D;
	_border-bottom		:dotted 0px #F0630D;
}
.content_Wapper .body .addressBook .body.smsSend .userSend ul li.power a{
	color				:#145AC3;
	border-bottom		:dotted 1px #145AC3;
	_border-bottom		:dotted 0px #145AC3;
	display				:block;
}
.content_Wapper .body .addressBook .body.smsSend .userSend ul li.power a:hover{
	color				:#F0630D;
	border-bottom		:dotted 1px #F0630D;
	_border-bottom		:dotted 0px #F0630D;
}

.content_Wapper .body .addressBook .body.smsSend .userSend ul li.left{
	float				:left;
}
.content_Wapper .body .addressBook .body.smsSend .userSend ul li.right{
	float				:right;
	text-align			:right;
}

.content_Wapper .body .addressBook .body.smsSend .userSend .tinList{
	width				:696px;
	height				:168px;
	display				:block;
	margin				:4px auto;
	border				:1px solid #DBDBDB;
}
.content_Wapper .body .addressBook .body.smsSend .userSend .tinList ul{
	height				:100%;
}
.content_Wapper .body .addressBook .body.smsSend .userSend .tinList ul.tinClass{
	width				:116px;
	overflow-y			:auto;
	overflow-x			:hidden;
	border-right		:1px solid #DBDBDB;
	float				:left;
}
.content_Wapper .body .addressBook .body.smsSend .userSend .tinList ul.tinClass li{
	line-height			:21px;
	padding				:0px 0px 0px 4px;
	color				:#646464;
	letter-spacing		:3px;
}
.content_Wapper .body .addressBook .body.smsSend .userSend .tinList ul.tinClass li a{
	width				:100%;
	display				:block;
	color				:#646464;
}
.content_Wapper .body .addressBook .body.smsSend .userSend .tinList ul.tinClass li.keynavoff a{
	color				:#646464;
}
.content_Wapper .body .addressBook .body.smsSend .userSend .tinList ul.tinClass li.keynavoff a:hover{
	color				:#145AC3;
}
.content_Wapper .body .addressBook .body.smsSend .userSend .tinList ul.tinClass li.keynavon a{
	color				:#F0630D;
}
.content_Wapper .body .addressBook .body.smsSend .userSend .tinList ul.tinClass li.keynavon a:hover{
	color				:#F0630D;
}
.content_Wapper .body .addressBook .body.smsSend .userSend .tinList ul.tinClass li.adorn{
	background-color	:#D7E9F2;
}
.content_Wapper .body .addressBook .body.smsSend .userSend .tinList ul.tinItem{
	float				:left;
	width				:577px;
	display				:block;
	overflow-y			:auto;
	overflow-x			:hidden;
}
.content_Wapper .body .addressBook .body.smsSend .userSend .tinList ul.tinItem li{
	border-bottom		:1px dotted #CCCCCC;
	display				:block;
	height				:32px;
	line-height			:18px;
	padding				:8px 0px;
}
.content_Wapper .body .addressBook .body.smsSend .userSend .tinList ul.tinItem span{
	float				:left;
}
.content_Wapper .body .addressBook .body.smsSend .userSend .tinList ul.tinItem span.tinText{
	width				:495px;
	padding				:0px 0px 0px 11px;
	color				:#646464;
}
.content_Wapper .body .addressBook .body.smsSend .userSend .tinList ul.tinItem span.tinJoin{
	width				:52px;
	text-align			:center;
}
.content_Wapper .body .addressBook .body.smsSend .userSend .tinList ul.tinItem a{
	vertical-align		:middle;		
	display				:block;
	color				:#145AC3;
}
.content_Wapper .body .addressBook .body.smsSend .userSend .tinList ul.tinItem a:hover{
	color				:#F0630D;
}
.content_Wapper .body .addressBook .body.smsSend .userSend .tinList ul li.adorn{
	background-color	:#F7F9EB;
}
.content_Wapper .body .addressBook .body.smsSend .userSend .tinList ul li:hover{
	background-color	:#E6F7FE;
}
.content_Wapper .body .addressBook .body.smsSend .sendMode{
}
.content_Wapper .body .addressBook .body.smsSend .sendMode ul{
	padding				:8px 0px 0px 0px;
}
.content_Wapper .body .addressBook .body.smsSend .sendMode ul li{
	color				:#000;
	line-height			:25px;
	padding				:0px 0px 0px 13px;
}
.content_Wapper .body .addressBook .body.smsSend .sendMode ul li input{
	vertical-align		:middle;
}
.content_Wapper .body .addressBook .body.smsSend .sendMode ul li select{
	vertical-align		:middle;
}
.content_Wapper .body .addressBook .body.smsSend .sendMode ul li.sendBtn{
	position			:absolute;
	width				:100%;
}
.content_Wapper .body .addressBook .body.smsSend .sendMode ul li.sendBtn .inside{
	position			:relative;
	width				:100%;
}
.content_Wapper .body .addressBook .body.smsSend .sendMode ul li.sendBtn a{
	position			:absolute;
	top					:-60px;
	right				:24px;
	width				:76px;
	height				:56px;
	display				:block;
	background-image	:url(../images/sendBtn.gif);
	background-position	:left top;
	background-repeat	:no-repeat;
}
.content_Wapper .body .addressBook .body.smsSend .sendMode ul li.sendBtn span{
	display				:none;
}
.content_Wapper .body .addressBook .body .groupManage.Import{
	position			:absolute;
	left				:-1px;
	top					:0px;
	width				:235px;
	height				:441px;
	overflow			:hidden;
	padding				:0px 3px;
}
.content_Wapper .body .addressBook .body .groupManage.Import .headOptions{
}
.content_Wapper .body .addressBook .body .groupManage.Import .headOptions ul{
	border-bottom		:1px solid #DDD;
	line-height			:22px;
	height				:22px;
	font-size			:16px;
	width				:100%;
}
.content_Wapper .body .addressBook .body .groupManage .showNumber {
	position			:absolute;
	left				:142px;
	top					:-2px;
	width				:90px;
	height				:22px;
	visibility			:hidden;
	display				:block;
}
.content_Wapper .body .addressBook .body .groupManage .showNumber  ul.mainNenu{
	visibility			:hidden;
}
.content_Wapper .body .addressBook .body .groupManage .showNumber .mainNenu li{
	float				:left;
	width				:38px;
	display				:block;
	height				:22px;
	line-height			:22px;
	font-size			:16px;
	visibility			:visible;
}
.content_Wapper .body .addressBook .body .groupManage .showNumber .mainNenu li.submenu{
	color				:#246CE5;
	visibility			:visible;
	background-image	:url(../images/arraw_down.gif);
	background-repeat	:no-repeat;
	background-position	:22px center;
}
.content_Wapper .body .addressBook .body .groupManage .showNumber .mainNenu li.submenu ul{
	display				:none;
}
.content_Wapper .body .addressBook .body .groupManage .showNumber .mainNenu li.submenu:hover ul{
	display				:block;
	width				:30px;
	height				:66px;
	overflow			:hidden;
	padding				:0px 6px 0px 0px;
	position			:relative;
	border				:1px solid #999999;
	background-color	:#FFF;
	visibility			:visible;
}
.content_Wapper .body .addressBook .body .groupManage .showNumber .mainNenu li.submenu ul li{
	float				:none;
	height				:22px;
	line-height			:22px;
	font-size			:16px;
	text-align			:center;
	visibility			:visible;
}
.content_Wapper .body .addressBook .body .groupManage .showNumber .mainNenu li.submenu ul li:hover{
	background-color	:#E6F7FE;
}
.content_Wapper .body .addressBook .body .groupManage.Import .headOptions ul li{
	float				:left;
	overflow			:hidden;
}
.content_Wapper .body .addressBook .body .groupManage.Import .headOptions ul li h2{
	_width				:65px;
}
.content_Wapper .body .addressBook .body .groupManage.Import .headOptions ul li.left{
	float				:left;
}
.content_Wapper .body .addressBook .body .groupManage.Import .headOptions ul li.right{
	float				:right;
}
.content_Wapper .body .addressBook .body .groupManage.Import .headOptions ul li.singleInput span,
.content_Wapper .body .addressBook .body .groupManage.Import .headOptions ul li.doubleInput span{
	display				:none;
}
.content_Wapper .body .addressBook .body .groupManage.Import .headOptions ul li.singleInput,
.content_Wapper .body .addressBook .body .groupManage.Import .headOptions ul li.doubleInput{
	width				:19px;
	height				:22px;
	display				:block;
	margin				:0px 0px 0px 4px;
}
.content_Wapper .body .addressBook .body .groupManage.Import .headOptions ul li.singleInput span.img,
.content_Wapper .body .addressBook .body .groupManage.Import .headOptions ul li.doubleInput span.img{
	width				:19px;
	height				:22px;
	display				:block;
}
.content_Wapper .body .addressBook .body .groupManage.Import .headOptions ul li.singleInput a.keynavon span.img{
	background-image	:url(../images/importStyle1_on.gif);
	background-position	:center center;
	background-repeat	:no-repeat;
}
.content_Wapper .body .addressBook .body .groupManage.Import .headOptions ul li.singleInput a.keynavoff span.img{
	background-image	:url(../images/importStyle1_off.gif);
	background-position	:center center;
	background-repeat	:no-repeat;
}
.content_Wapper .body .addressBook .body .groupManage.Import .headOptions ul li.doubleInput a.keynavon span.img{
	background-image	:url(../images/importStyle2_on.gif);
	background-position	:center center;
	background-repeat	:no-repeat;
}
.content_Wapper .body .addressBook .body .groupManage.Import .headOptions ul li.doubleInput a.keynavoff span.img{
	background-image	:url(../images/importStyle2_off.gif);
	background-position	:center center;
	background-repeat	:no-repeat;
}
.content_Wapper .body .addressBook .body .groupManage.Import .headOptions ul li.singleInput a,
.content_Wapper .body .addressBook .body .groupManage.Import .headOptions ul li.doubleInput a,
.content_Wapper .body .addressBook .body .groupManage.Import .headOptions ul li.singleInput a:hover,
.content_Wapper .body .addressBook .body .groupManage.Import .headOptions ul li.doubleInput a:hover,
.content_Wapper .body .addressBook .body .groupManage.Import .headOptions ul li.singleInput.keynavon a:hover,
.content_Wapper .body .addressBook .body .groupManage.Import .headOptions ul li.doubleInput.keynavon a:hover,
.content_Wapper .body .addressBook .body .groupManage.Import .headOptions ul li.singleInput.keynavoff a:hover,
.content_Wapper .body .addressBook .body .groupManage.Import .headOptions ul li.doubleInput.keynavoff a:hover{
	background-color	:#FFF;
}
.content_Wapper .body .addressBook .body .groupManage.Import .headOptions ul li h2{
	border-bottom		:0px;
}
.content_Wapper .body .addressBook .body .groupManage.Import ul.doubleInput,
.content_Wapper .body .addressBook .body .groupManage.Import ul.singleInput{
	margin				:2px 0px 0px 0px;
	width				:100%;
}
.content_Wapper .body .addressBook .body .groupManage.Import ul.doubleInput li{
	width				:49%;
	#width				:46%;
	_width				:46%;
	float				:left;
	overflow			:hidden;
}
.content_Wapper .body .addressBook .body .groupManage.Import ul.singleInput li{
	width				:98.5%;
	clear				:both;
}
.content_Wapper .body .addressBook .body .groupManage.Import ul.doubleInput li input{
	width				:96.5%;
}
.content_Wapper .body .addressBook .body .groupManage.Import ul.singleInput li input{
	width				:100%;
}
.content_Wapper .body .addressBook .head ul.searchTerm{
	margin:0px 0px 0px 4px;
}
.content_Wapper .body .addressBook .head ul.searchTerm li.keynavon a{
	color:#1F74E1;
	border:0px;
	padding:0px 0px 0px 13px;
	background-image:url(../images/searchON.gif);
	background-repeat:no-repeat;
	background-position:left center;
}

.content_Wapper .body .addressBook .head ul.searchTerm li.keynavon a:hover{
	border:0px;

}
.content_Wapper .body .addressBook .head ul.searchTerm li.keynavoff a{
	color:#696969;
	border:0px;
	padding:0px 0px 0px 13px;
	background-image:url(../images/searchOFF.gif);
	background-repeat:no-repeat;
	background-position:left center;
}
.content_Wapper .body .addressBook .head ul.searchTerm li.keynavoff a:hover{
	color:#EB6510;
	border:0px;

}
.content_Wapper .body .addressBook .head.search{
	background-image:url(../images/manageContentBG.gif);
	background-position:left top;
	background-repeat:repeat-x;

}
.content_Wapper .body .addressBook .body .termImport{
	width:650px;
	margin:18px auto 0px auto;

}
.content_Wapper .body .addressBook .body .termImport ul li{
	line-height:25px;	
	float:left;
	color:#020202;
	height:23px;
}
.content_Wapper .body .addressBook .body .termImport ul li.bring{
	padding:3px 0px 0px 0px;
	line-height:20px;
	height:23px;
}
.content_Wapper .body .addressBook .body .termImport ul li input{
	margin:0px 4px 0px 4px;
	width:84px;
}
.content_Wapper .body .addressBook .body .termImport ul li.btn input{
	#width:84px;
	_width:84px;
	#height:22px;
	_height:22px;
	#padding:2px 0px 2px 0px;
	_padding:2px 0px 2px 0px;
	#margin:0px;
	_margin:0px;	
}
.content_Wapper .body .addressBook .body.smsSearch{
	height:auto;

}
.content_Wapper .body .addressBook .body.smsSearch .dateSearch{
	width:892px;
	color:#21496D;
	font-size:16px;
	margin:auto;
}
.content_Wapper .body .addressBook .body.smsSearch .dateSearch ul{
	width:100%;
	clear:both;
	padding:40px 0px 0px 0px;
}
.content_Wapper .body .addressBook .body.smsSearch .dateSearch ul li.left{
	float:left;
}
.content_Wapper .body .addressBook .body.smsSearch .dateSearch ul li.right{
	float:right;

}
.content_Wapper .body .addressBook .body.smsSearch .tableView{
	width:906px;
	margin:6px auto 0px auto;
}
.content_Wapper .body .addressBook .body.smsSearch .tableView table{
	border:1px solid #DBDBDB;
	width:100%;
}
.content_Wapper .body .addressBook .body.smsSearch .tableView table tr.title td{
	text-align:center;
	height:25px;
	line-height:25px;
	border-bottom:1px solid #DBDBDB;
	border-right:1px solid #DBDBDB;
	color:#284A65;
}
.content_Wapper .body .addressBook .body.smsSearch .tableView table tr.list td{
	border-right:1px solid #DBDBDB;
	border-bottom:1px solid #DBDBDB;
	text-align:center;
	height:49px;
	line-height:49px;
	background-image:url(../images/tableBG.gif);
	background-repeat:repeat-x;
	background-position:left top;
	color:#3D3D3D;
	overflow:hidden;
}
.content_Wapper .body .addressBook .body.smsSearch .tableView table tr.list td span.lost{
	background-image:url(../images/no.png);
	_background-image:url(../images/no.gif);
	background-repeat:no-repeat;
	background-position:left center;
	width:50px;
	margin:auto;
	padding:0px 0px 0px 10px;
	line-height:16px;
	height:16px;
	display:block;
}
.content_Wapper .body .addressBook .body.smsSearch .tableView table tr.list td span.success{
	background-image:url(../images/yes.png);
	_background-image:url(../images/yes.gif);
	background-repeat:no-repeat;
	background-position:left center;
	width:50px;
	margin:auto;
	padding:0px 0px 0px 10px;
	line-height:16px;
	height:16px;
	display:block;
}
.content_Wapper .body .addressBook .body.smsSearch .tableView table tr.title td.close{
	border-right:0px solid #DBDBDB;
	border-bottom:1px solid #DBDBDB;
}
.content_Wapper .body .addressBook .body.smsSearch .tableView table tr td.number{
	width:41px;
}
.content_Wapper .body .addressBook .body.smsSearch .tableView table tr td.mode{
	width:81px;
}
.content_Wapper .body .addressBook .body.smsSearch .tableView table tr td.content{
	width:192px;

}

.content_Wapper .body .addressBook .body.smsSearch .tableView table tr td.guest{
	width:121px;
}
.content_Wapper .body .addressBook .body.smsSearch .tableView table tr td.date{
	width:121px;
}
.content_Wapper .body .addressBook .body.smsSearch .tableView table tr td.loss{
	width:113px;
}
.content_Wapper .body .addressBook .body.smsSearch .tableView table tr td.report{
	width:112px;
}
.content_Wapper .body .addressBook .body.smsSearch .tableView table tr td.reportDate{
	width:116px;
}
.content_Wapper .body .addressBook .body.smsSearch .pageNumber{
	width:906px;
	_width:940px;
	margin:auto;
	text-align:center;
}
.content_Wapper .body .addressBook .body.smsSearch .pageNumber ul{
	width:280px;
	_width:300px;
	float:right;
	display:block;
	padding:10px 0px 26px 0px;
}
.content_Wapper .body .addressBook .body.smsSearch .pageNumber ul li{
	margin:0px 0px 0px 4px;
	text-align:center;
	float:left;
	font-family			:"Dotum";

	font-size:11px;
}
.content_Wapper .body .addressBook .body.smsSearch .pageNumber ul li a{
	height:25px;
	width:25px;
	line-height:25px;
	display:block;
	border:1px solid #CCC;
	background-color:#F1F1F1;
	color:#999999;
}
.content_Wapper .body .addressBook .body.smsSearch .pageNumber ul li a:hover{
	color:#333333;
	border:1px solid #CCC;
	background-color:#8F8F8F;	
}


.content_Wapper .body .addressBook .body.smsSearch .pageNumber ul li.keynavon a,
.content_Wapper .body .addressBook .body.smsSearch .pageNumber ul li.keynavon a:hover{
	height:25px;
	width:25px;
	line-height:25px;
	display:block;
	border:1px solid #5E5552;
	background-color:#5E5552;
	color:#fff;
}

.content_Wapper .body .addressBook .body.smsSearch .pageNumber ul li.keynavoff a{
	height:25px;
	width:25px;
	line-height:25px;
	display:block;
	border:1px solid #CCC;
	background-color:#F1F1F1;
	color:#999999;
}
.content_Wapper .body .addressBook .body.smsSearch .pageNumber ul li.keynavoff a:hover{
	color:#333333;
	
	border:1px solid #CCC;
	background-color:#8F8F8F;
	
}
