<style type="text/css">
	body{margin:0; padding:0;}
	a{text-decoration: none;}
	img{border:0;}
	ul{margin:0; padding:0;}
	ul li{
		margin:0;
		padding:0;
		list-style-type: none;
	}
 
	/* minwtStartMneu Style Str================================================================================================ */
		#minwt_StartMneuBar{
			width:100%;
			height:25px;
			background:#333;
			position:fixed;
			bottom:0px;
		}
 
		#minwt_startBtn{
			position:absolute;
			left:20px;
			line-height:25px;
			width:70px;
			/*background:url(http://cdn.minwt.com/img/icon/minwticon.png) no-repeat 10px 0 #000; */
			padding-left:40px;
		}
 
		#minwt_startBtn a{
			color:#fff;
			font-size:15px;
			text-decoration: none;		
		}
 
		#minwt_mainMenu{
			position:absolute;
			bottom:25px;
			left:20px;
			width:200px;
			height:500px;
			background:#222;
			padding:10px;
			display:none;
			text-align:left;
			filter:alpha(opacity=70);
			-moz-opacity: .7;
			opacity: .7;
		}
		#minwt_mainMenu a{color:#ccc;}
		#minwt_mainMenu li{
			z-index:9;
			border-bottom:solid 1px #eee;
			line-height:34px;
			font-size:15px;
			margin-top:5px;
			padding-bottom:5px;
		}
		#minwt_mainMenu li img{padding-top:14px; padding-right:10px; float:right;}
		#minwt_mainMenu li.ps{background:url(http://cdn.minwt.com/img/icon/ps.png) no-repeat 0 0; padding-left:42px;}
		#minwt_mainMenu li.camera{background:url(../images2/menu_Add.png) no-repeat 0 0; padding-left:42px;}
		<!--#minwt_mainMenu li.camera ul li { font-size:48px;}-->
		#minwt_mainMenu li.flash{background:url(../images2/menu_Add.png) no-repeat 0 0; padding-left:42px;}
		#minwt_mainMenu li.pc{background:url(../images2/menu_Add.png) no-repeat 0 0; padding-left:42px;}
		#minwt_mainMenu li.mac{background:url(../images2/menu_Add.png) no-repeat 0 0; padding-left:42px;}
		#minwt_mainMenu li.iphone{background:url(http://cdn.minwt.com/img/icon/iphone.png) no-repeat 0 0; padding-left:42px;}
		#minwt_mainMenu li.css{background:url(http://cdn.minwt.com/img/icon/css.png) no-repeat 0 0; padding-left:42px;}
		#minwt_mainMenu li.js{background:url(http://cdn.minwt.com/img/icon/js.png) no-repeat 0 0; padding-left:42px;}
		#minwt_mainMenu li.webdesign{background:url(http://cdn.minwt.com/img/icon/webdesign.png) no-repeat 0 0; padding-left:42px;}
		#minwt_mainMenu li.wp{background:url(http://cdn.minwt.com/img/icon/wp.png) no-repeat 0 0; padding-left:42px;}
		#minwt_mainMenu li.all{background:#222;}
 
		#minwt_mainMenu li ul{
			position:absolute;
			left:210px;
			top:1px;
			width:170px;
			background: #303A52;/* #404040 #1E3151 */
			border:solid 1px #757575;
			display:none;
			filter:alpha(opacity=70);
			-moz-opacity: .7;
			opacity: .7;
		}
		#minwt_mainMenu li ul li{
			padding:5px 15px;
		}
		#minwt_mainMenu li ul li {
			padding:5px 15px;
		}
		#minwt_mainMenu li ul li a{/* 子項目字大小*/
			font-size: 18px;
			color: #fff;
			text-decoration: none;
			line-height:24px;
			height:26px;
			alignment-adjust: auto;		
		}
		#minwt_mainMenu li ul li a:hover{
			/*background-color:#006600;*/
			color: #3F0;
			}
	/* minwtStartMneu Style Str================================================================================================ */
</style>